## -*- coding: utf-8 -*- 
<%namespace name="lib" file="/shared/lib.mako"/>

<%def name="title()">TriMet: Transit Tracker</%def>

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Keywords" content="Tracker arrivals"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
    <meta name="robots" content="all"/>

    <title>${self.title()}</title>
    
    <%include file="/shared/head-top.html"/>
    <link rel="stylesheet" href="${lib.url_domain()}/css/content.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${lib.url_domain()}/css/triptools.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${lib.url_domain()}/css/transittracker.css" type="text/css" />
    <link rel="stylesheet" href="${lib.url_domain()}/css/stopsstations.css" type="text/css" />
    ${lib.header()}
    <%include file="/shared/head-bottom.html"/>
</head>


<body class="standard" onLoad="${lib.js_onload()}">

    <%include file="/shared/topnav.html"/>
    ${lib.emergency_content()|n,decode.utf8}

    <header id="header-wrap" class="group">
        <%include file="/shared/nav.html"/>

        <div id="triptools-wrap" class="group">
            <nav id="triptools">
                <ul id="triptools-tabs">
                    <li id="tripplanner"><a href="${lib.url_domain()}/index.htm" title="Get step-by-step travel directions"><span>Trip Planner</span></a><div class="triptools-pointer"></div></li>
                    <li id="transittracker" class="selected"><a href="${lib.url_domain()}/arrivals/index.htm" title="Get real-time arrival information for buses and trains"><span>TransitTracker</span></a><div class="triptools-pointer"></div></li>
                    <li id="schedulesmap"><a href="${lib.url_domain()}/schedules/index.htm" title="View timetables, system maps and route maps"><span>Maps &amp; Schedules</span></a><div class="triptools-pointer"></div></li>
                    <li id="stopsstations"><a href="${lib.url_domain()}/stopsandstations/index.htm" title="Find nearby stops, look up a Stop ID or get service info"><span>Stops &amp; Stations</span></a><div class="triptools-pointer"></div></li>
                    <li id="servicealerts"><a href="${lib.url_domain()}/alerts/index.htm" title="See current and future delays, detours and closures"><span>Service Alerts</span></a><div class="triptools-pointer"></div></li>
                </ul>
            </nav><!-- end #triptools -->
        </div><!-- end #triptools-wrap -->
    </header><!-- end #header-wrap -->


    <div id="content-wrap" class="group">
        <div id="content" class="group">
            <a name="content"></a>

            <section id="main" ${lib.mainContentStyle()} class="main">
                <%include file="/shared/share.html"/>
                 ${next.body()}
            </section><!-- end #main -->

% if hasattr(c, 'skip_sidebar') == False:
            <aside id="aside" class="aside">
                <div id="icon" class="icon-transittracker">
                    <p class="time"><span id="clock"><!--Current time: 12:34:56pm--></span></p>
                
                    <p>TransitTracker&trade; estimates when your bus or train will arrive at your stop, based on the vehicle's last reported location.</p>
                    <ul class="links" style="padding-top:0;">
                        <li><a href="${lib.url_domain()}/transittracker/about.htm">How it works</a></li>
                    </ul>
                
                </div>
                <p class="feedback">
                    <a href="${lib.url_domain()}/mailforms/ttfeedback">Got feedback?<br />Let us know.</a>
                </p>
            </aside><!-- end #sidebar -->
% endif

        </div><!-- end #content -->
    </div><!-- end #content-wrap -->

    <%include file="/shared/footer.html"/>
</body>
</html>
