[buildout]
extends = versions.cfg
update-versions-file = versions.cfg
parts = dev prod testrunner pydev
develop = . ../utils/ ../view_header_footer/
app-egg-name = ott.view
newest = false
include-site-packages = true
allowed-eggs-from-site-packages = Pillow pil pycrypto PyCrypto distribute mercurial

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.view[dev]

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.view

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
