[buildout]
parts = dev prod testrunner pydev
develop = .
app-egg-name = ott.view
newest = false
include-site-packages = true
allowed-eggs-from-site-packages = pil pycrypto PyCrypto distribute mercurial

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.view[dev]

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.view

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
