## -*- coding: utf-8 -*-
<%namespace name="util"  file="/shared/utils/misc_util.mako"/>
<%
    extra_params = util.get_extra_params()
    path=''
    if util.has_url_param('mobile'):
        path = 'm/'
    pages = [
        {'label': 'Stop Pages'},
        {'u':'stop.html', 'p':'stop_id=2'},
        {'u':'stop.html', 'p':'stop_id=2'},
        {'u':'stop.html', 'p':'stop_id=2'},
        {'label': 'Trip Planner Pages'}
    ] 
%>
<html>
<head>
    <title>TriMet: OTT planner page list</title>
</head>
<body>
    <button onclick="location.href='/'">English</button><button onclick="location.href='?_LOCALE_=es'">Spanish</button><button onclick="location.href='?mobile=1${extra_params}'">Mobile</button>
    <br/><br/>
    <h1>
    %if len(path) > 1:
        Mobile...
    %else:
        Desktop...
    %endif
    %if len(extra_params) > 1:
        Spanish...
    %else:
        English...
    %endif
    </h1>
    %for p in pages:
        %if 'label' in p:
            <br/><br/><h2>${p['label']}</h2>
        %else:
            <a target="#" href="${path}${p['u']}?${p['p']}${extra_params}">${p['u']}</a><br/>
        %endif
    %endfor


</body>
</html>