<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<div id="footer-wrap" class="group">
    <div id="footer" class="group">
        <section id="footer-trimet" class="group">
            <article id="footer-trimet-logo"></article>
            <article id="footer-trimet-text">
                <p>TriMet provides bus, light rail and commuter rail transit services in the Portland, Oregon, metro area. We connect people with their community, while easing traffic congestion and reducing air pollution&mdash;making the Portland area a better place to live. <a href="/about/index.htm">More</a></p>
            </article>
            <article id="footer-trimet-search">
                <h2>Search trimet.org</h2>
                <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                <script type="text/javascript">
                  google.load('search', '1');
                  google.setOnLoadCallback(function() {
                    google.search.CustomSearchControl.attachAutoCompletion(
                      '009014880959573829355:b8mecw7atko',
                      document.getElementById('q'),
                      'cse-search-box');
                  });
                  
                  function submitsearch() {
                      if (document.getElementById("q").value == "Search trimet.org") {
                          alert("Looking for something on trimet.org? Type it in the white box and click the 'Go' button.");
                      }
                      else {
                          document.forms["cse-search-box"].submit();
                      }
                  }
                </script>
                <form action="/search/results.htm" id="cse-search-box">
                  <div>
                    <input type="hidden" name="cx" value="009014880959573829355:b8mecw7atko" />
                    <input type="hidden" name="cof" value="FORID:10;NB:1" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" id="q" autocomplete="off" size="30" onFocus="doClear(this); doClassHighlight(this);" onBlur="doText(this); doClassRegular(this);" class="regular" value="Search trimet.org" />
                    <input type="button" name="sa" value="Go &raquo;" class="button" onClick="submitsearch();" />
                  </div>
                </form>
          </article>
        </section>
        
        <section id="footer-group" class="group">
          <ul id="footer-aboutus">
                <li><h2><a href="/about/index.htm"><span>About Us</span></a></h2></li>
                <li><a href="/about/accountability.htm"><span>Accountability Center</span></a></li>
                <li><a href="/about/mission.htm"><span>Our vision &amp; mission</span></a></li>
                <li><a href="http://news.trimet.org"><span>News feed/media resources</span></a></li>
                <li><a href="/about/security.htm"><span>Safety &amp; security</span></a></li>
                <li><a href="/sfp/index.htm"><span>Strategic Financial Plan</span></a></li>
                <li><a href="/about/inthenews.htm"><span>TriMet in the news</span></a></li>
                <li><a href="/careers/index.htm"><span>Careers at TriMet</span></a></li>
                <li><a href="/publications/index.htm"><span>Publications &amp; fact sheets</span></a></li>
                <li><a href="/meetings/index.htm"><span>Public meetings &amp; notices</span></a></li>
                <li><a href="/lift/index.htm"><span>LIFT paratransit service</span></a></li>
                <li><a href="/newcontract/index.htm"><span>Labor contract</span></a></li>
                <li><a href="/about/index.htm" class="more"><span>more&hellip;</span></a></li>
            </ul>
            <ul id="footer-business">
                <li><h2><a href="/business/index.htm"><span>Business</span></a></h2></li>
                <li><a href="/advertising/index.htm">Advertising on TriMet</a></li>
                <li><a href="/business/dbe/index.htm"><span>DBE program</span></a></li>
                <li><a href="http://developer.trimet.org"><span>Developer resources/API</span></a></li>
                <li><a href="/employers/index.htm"><span>Employer pass programs</span></a></li>
                <li><a href="/news/film-photo.htm"><span>Filming/photo policy</span></a></li>
                <li><a href="/accesstransit/index.htm"><span>Low-income fare programs</span></a></li>
                <li><a href="/taxinfo/index.htm"><span>Payroll tax info</span></a></li>
                <li><a href="/procurement/index.htm"><span>Procurement &amp; contracts</span></a></li>
                <li><a href="/mailforms/recordsrequest"><span>Public records requests</span></a></li>
                <li><a href="/teachers/index.htm"><span>Teaching materials</span></a></li>
                <li><a href="/business/index.htm" class="more"><span>more&hellip;</span></a></li>
            </ul>
            <ul id="footer-projects">
            	<li><h2><a href="/projects/index.htm"><span>Projects</span></a></h2></li>
                <li><a href="/pm/index.htm"><span>Portland-Milwaukie Light Rail</span></a></li>
                <li><a href="/projects/pednetwork/index.htm"><span>Pedestrian Network Analysis</span></a></li>
                <li><a href="http://www.oregonmetro.gov/index.cfm/go/by.web/id/35309"><span>Southwest Corridor Plan</span></a></li>
                <li><a href="/future"><span>Planning future transit service</span></a></li>
                <li><a href="/projects/index.htm" class="more"><span>more&hellip;</span></a></li>
            </ul>
            <ul id="footer-resources">
                <li><h2><span>Rider Resources</span></h2></li>
                <li><a href="/club/index.htm"><span>Riders Club</span></a></li>
                <li><a href="/mobile/about.htm"><span>Mobile site</span></a></li>
                <li><a href="/future"><span>The Future of Transit</span></a></li>
                <li><a href="http://howweroll.trimet.org"><span><em>How We Roll</em> blog</span></a></li>
                <li><a href="/riderinsider/index.htm"><span><em>RiderInsider</em> newsletter</span></a></li>
                <li><a href="/apps/index.htm"><span>App Center</span></a></li>
                <li><a href="/riderpanel/index.htm"><span> Rider Panel</span></a></li>
                <li><a href="/getinvolved/index.htm"><span>Get involved</span></a></li>
            </ul>
            <ul id="footer-promos">
                <li id="footer-promo-2"><a href="/pm/index.htm"><span class="visuallyhidden">Portland-Milwaukie Light Rail Project</span></a></li>
                <li id="footer-promo-3"><a href="/about/dashboard.htm"><span class="visuallyhidden">Performance Dashboard</span></a></li>
            </ul>
        </section><!-- end #footer-group -->
        
        <footer id="footer-small">
            <section id="footer-small-left">
                <p>&copy; ${util.print_year()} TriMet &nbsp;&bull;&nbsp; <a href="/legal/index.htm" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Terms of Use']);">Terms of Use</a> &nbsp;&bull;&nbsp; <a href="/legal/privacy.htm" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Privacy']);">Privacy Policy</a> &nbsp;&bull;&nbsp; <a href="/rss/index.htm" class="rss" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'RSS']);">RSS Feeds</a> &nbsp;&bull;&nbsp; <a href="/contact/index.htm" class="phone" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Phone']);">503-238-RIDE (7433)</a> &nbsp;&bull;&nbsp; <a href="/m/index.htm" class="mobile" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Mobile']);">Mobile Site</a></p>
            </section>
        
            <section id="footer-small-right">
                <ul id="footer-small-social">
                    <li class="youtube"><a href="http://youtube.com/trimettv" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'YouTube']);" title="YouTube"><span class="visuallyhidden">YouTube</span></a></li>
                    <li class="flickr"><a href="http://flickr.com/trimet" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Flickr']);" title="Flickr"><span class="visuallyhidden">Flickr</span></a></li>
                    <li class="twitter"><a href="http://twitter.com/trimet" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Twitter']);" title="Twitter"><span class="visuallyhidden">Twitter</span></a></li>
                    <li class="facebook"><a href="http://facebook.com/trimet" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Facebook']);" title="Facebook"><span class="visuallyhidden">Facebook</span></a></li>
                    <li class="email"><a href="/email/index.htm" onClick="_gaq.push(['_trackEvent', 'FooterLinks', 'ClickTo', 'Email']);" title="Email"><span class="visuallyhidden">Email</span></a></li>
                </ul>
            </section>
        </footer><!-- end #footer-small -->
        
    </div><!-- end #footer -->
</div><!-- end #footer-wrap -->

<div id="fb-root"></div><!-- for facebook  -->

<div id="footer-print">
    <p>&copy; ${util.print_year()} TriMet</p>
</div>

<script type="text/javascript" src="${util.url_domain()}/scripts/basic.js"></script><!-- basic global scripts -->
