<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="form" file="/shared/utils/form_utils.mako"/>
<%namespace name="ana"  file="/shared/utils/analytics_utils.mako"/>
<section id="footer" class="content footer">
  <div class="contentcontainer-fluid" style="background-color: rgb(15, 15, 15); color: rgb(255, 255, 255); padding-bottom: 50px;">
    <div class="contentcontainer">
      <div class="row">
        <div class="col-xs-12 nopadding">
          <div class="col-xs-12 col-sm-4 col-md-6 hcenter nopadding">
            <div style="padding: 30px 30px 5px 30px;"><a href="${util.url_domain()}"><i class="icon icon-slogan icon-trimet-logo-slogan"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 hcenter nopadding" style="margin-top: 40px;">
            <div class="search-obj hidden-xs"><i class="icon icon-24 icon-search"></i>
            </div>
            <div class="search-obj">
              <form action="${util.url_domain()}/search/results.htm" id="cse-search-box" class="" role="search">
                <div class="form-group search-obj">
                  <input name="cx" value="009014880959573829355:b8mecw7atko" type="hidden">
                  <input name="cof" value="FORID:10;NB:1" type="hidden">
                  <input name="ie" value="UTF-8" type="hidden">
                  <label for="q" class="hide">Search trimet.org</label>
                  <div style="font-size: 12px;" class="input-wrapper" data-type="text">
                    <input style="color: rgb(102, 102, 102); padding: 1px 50px 1px 5px;" spellcheck="false" dir="ltr" name="q" id="q" autocomplete="off" class="input input-text field-input" placeholder="Search trimet.org" type="text">
                  </div>
                </div>
                <div class="search-obj">
                  <button onclick="submitsearch(); return false;" name="sa" style="padding: 3px 2px; min-width: 20px; font-weight: 300; font-size: 1em;" type="submit" class="button button-submit hidden-sm hidden-md hidden-lg"><i class="icon icon-12 icon-search"></i>
                  </button>
                  <button onclick="submitsearch(); return false;" name="sa" style="padding: 3px 0px; min-width: 80px; font-weight: 300; font-size: 1em;" type="submit" class="button button-submit hidden-xs">Search</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xs-12">
            <hr class="style-two">
          </div>
        </div>
        <div class="col-xs-12 nopadding">
          <div class="col-sm-6 col-sm-push-6 hcenter nopadding">
            <div class="social-icons" style="padding: 15px 0;">
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Facebook', 'Social']);" href="http://facebook.com/trimet" title="Facebook">
                <div class="search-obj"><i class="icon icon-20 icon-social-facebook"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Instagram', 'Social']);" href="http://instagram.com/ridetrimet" title="Instagram">
                <div class="search-obj"><i class="icon icon-20 icon-instagram-inv"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Twitter', 'Social']);" href="http://twitter.com/trimet" title="Twitter">
                <div class="search-obj"><i class="icon icon-20 icon-social-twitter"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'LinkedIN', 'Social']);" href="https://www.linkedin.com/company/trimet" title="LinkedIn">
                <div class="search-obj"><i class="icon icon-20 icon-social-linkedin"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Flickr', 'Social']);" href="http://flickr.com/trimet" title="Flickr">
                <div class="search-obj"><i class="icon icon-20 icon-social-flickr"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Youtube', 'Social']);" href="http://youtube.com/trimettv" title="Youtube">
                <div class="search-obj"><i class="icon icon-20 icon-social-youtube"></i>
                </div>
              </a>
              <a onclick="_gaq.push(['_trackEvent', 'Top', 'Email', 'Social']);" href="${util.url_domain()}/email/index.htm" title="Email">
                <div class="search-obj"><i class="icon icon-20 icon-social-email"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6 hcenter nopadding">
            <div class="footer-bottom">
              &copy; ${util.print_year()} TriMet &bull;
              <a href="${util.url_domain()}/legal/index.htm" onclick="_gaq.push(['_trackEvent', 'Footer', 'Terms of Use', 'Bottom']);">Terms of Use</a> &bull;
              <a href="${util.url_domain()}/legal/privacy.htm" onclick="_gaq.push(['_trackEvent', 'Footer', 'Privacy Policy', 'Bottom']);">Privacy Policy</a> &bull;
              <a href="${util.url_domain()}/about" onclick="_gaq.push(['_trackEvent', 'Footer', 'About Us', 'Bottom']);">About Us</a> &bull;
              <a href="${util.url_domain()}/contact/" onclick="_gaq.push(['_trackEvent', 'Footer', 'Customer Service', 'Bottom']);">Customer Service</a>
            </div>
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-xs-12 nopadding hcenter">
        <div class="footer-bottom" style="padding:0;">
          <p>Our Terms of Service and Privacy Policy have changed. <a href="${util.url_domain()}/legal/index.htm">See what&rsquo;s new</a>.</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>

<p class="print-footer">&copy; ${util.print_year()} TriMet</p>

<!-- 
  NOTE: on certain pages, this will double include jquery, jquery ui, etc...  
        we could put this somewhere in the main page.  But putting in header
        doesn't work (breaks drop down)
-->
${form.autocomplete_js_includes()}
<script src="${util.url_domain()}/global/js/menu.min.js"></script>

${ana.ga_init()}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('search', '1');
  google.setOnLoadCallback(function() {
  google.search.CustomSearchControl.attachAutoCompletion('009014880959573829355:b8mecw7atko', document.getElementById('q'), 'cse-search-box'); });
  function submitsearch() {
    _gaq.push(['_trackEvent', 'Footer', 'Search', 'Bottom']);
    if (!document.getElementById("q").value) {
      alert("Looking for something on trimet.org? Type it in the white box and click the 'Go' button.");
    }
    else {
      document.forms["cse-search-box"].submit();
    }
  }
</script>
