<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
    <meta name="viewport" content="width=1040" />
    <link rel="alternate" type="application/rss+xml" title="TriMet: All News and Service Alerts" href="https://public.govdelivery.com/accounts/ORTRIMET/feed.rss?code=ORTRIMET" />
    <link rel="shortcut icon" href="${util.url_domain()}/images/favicon.ico" />
    <link rel="apple-touch-icon" href="${util.url_domain()}/images/trimet-logo-iphone.png" />

    <link rel="stylesheet" href="${util.url_domain()}/css/triptools/global.css" type="text/css" media="all" />
    <!--[if IE]><link rel="stylesheet" href="${util.url_domain()}/css/ie.css" type="text/css" media="all" /><![endif]-->
    <!--[if lte IE 6]><link rel="stylesheet" href="${util.url_domain()}/css/ie6.css" type="text/css" media="all" /><![endif]-->

    <link rel="stylesheet" href="${util.url_domain()}/css/triptools/content.css" type="text/css" media="all" />
    <!--[if IE]><link rel="stylesheet" href="${util.url_domain()}/css/triptools/triptools-ie.css" type="text/css" media="all" /><![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:700,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="${util.url_domain()}/scripts/highslide-min.js" language="javascript"></script>
