<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="57x57" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="${util.url_domain()}/global/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="${util.url_domain()}/global/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="${util.url_domain()}/global/img/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="${util.url_domain()}/global/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="${util.url_domain()}/global/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="${util.url_domain()}/global/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="${util.url_domain()}/global/img/favicons/manifest.json">
    <link rel="shortcut icon" href="${util.url_domain()}/global/img/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="TriMet">
    <meta name="application-name" content="TriMet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="${util.url_domain()}/global/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="${util.url_domain()}/global/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="${util.url_domain()}/global/img/favicons/favicon.ico" rel="stylesheet" media="all" />
    <link href="${util.url_domain()}/asset/css/style.min.css" rel="stylesheet"  media="all" />
    <link href="${util.url_domain()}/global/css/styles.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="${util.url_domain()}/global/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="${util.url_domain()}/global/css/tools.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic|Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="${util.url_domain()}/asset/vendor/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var a=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];a.rel="stylesheet",a.href=e[o&&n?0:o?1:2],a.media="only x",r.parentNode.insertBefore(a,r),setTimeout(function(){a.media="all"})},a=new t.Image;a.onerror=function(){o(!1)},a.onload=function(){o(1===a.width&&1===a.height)},a.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}}; grunticon(["${util.url_domain()}/asset/svg/icons.data.svg.css", "${util.url_domain()}/asset/svg/icons.data.png.css", "${util.url_domain()}/asset/svg/icons.fallback.css"]);
    </script>
    <noscript>
    <link href="${util.url_domain()}/asset/svg/icons.data.png.css" rel="stylesheet" type="text/css" media="all">
    </noscript>
    <script>
      document.getElementById("html").className = document.getElementById("html").className.replace( /(?:^|\s)no-js(?!\S)/g , '' )
    </script>
