<div id="nav-wrap" class="group">
    <nav id="nav">
        <div id="logo"><a href="#"><span class="visuallyhidden">TriMet</span></a></div>
        <!--
        <ul id="tabs" class="group">
            <li id="tabs-learn" class="tabs-first-level">
                <span class="visuallyhidden">Learn: Fares, How to Ride, Bikes, Parking, Rules</span>
            </li>
            <li id="tabs-buy" class="tabs-first-level">
                <span class="visuallyhidden">Buy: Tickets, Passes, Gear, Apps</span>
            </li>
            <li id="tabs-contact" class="tabs-first-level">
                <span class="visuallyhidden">Contact: Customer Service, Lost and Found</span>
            </li>
        </ul>
        
        <ul id="modes">
            <li class="bus"><a href="#"><span>Bus</span></a></li>
            <li class="max"><a href="#"><span>MAX</span></a></li>
            <li class="wes"><a href="#"><span>WES</span></a></a></li>
            <li class="streetcar"><a href="#"><span>Streetcar</span></a></li>
        </ul>-->
    </nav><!--end #nav -->
</div><!-- end #nav-wrap -->
