<div id="nav-wrap" class="group">
    <nav id="nav">
        <div id="logo"><a href="/index.htm"><span class="visuallyhidden">TriMet</span></a></div>
        <ul id="tabs" class="group">
            <li id="tabs-learn" class="tabs-first-level">
                <a href="/learn/index.htm" class="tabs-first-level"><span class="visuallyhidden">Learn: Fares, How to Ride, Bikes, Parking, Rules</span></a>
                <div class="tabs-dd-outer">
                    <div class="tabs-dd-inner group">
                        <div class="learn-column1">
                            <h2><a href="/fares/index.htm">Fares</a> <a href="/fares/index.htm" class="fares-viewall">View all &raquo;</a></h2>
                            <ul>
                                <li><a href="/fares/index.htm"><span class="hover"><strong>Adult</strong></span> <span class="price">$2.50</span><br>
                                <span class="secondary">18&ndash;64</span></a></li>
                                <li><a href="/fares/honoredcitizen.htm"><span class="hover"><strong>Honored Citizen</strong></span> <span class="price">$1</span><br>
                                    <span class="secondary">65+, Medicare or disability</span></a>
                                </li>
                                <li><a href="/fares/youth.htm"><span class="hover"><strong>Youth</strong></span> <span class="price">$1.65</span><br>
                                    <span class="secondary">7&ndash;17 or high school/GED</span></a>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="/fares/wheretobuy.htm"><span class="hover">Where to buy tickets &amp; passes</span></a></li>
                                <li><a href="/mobiletickets/index.htm"><span class="hover">Mobile ticketing</span></a></li>
                            </ul>
                        </div><!-- end learn-column1 -->
                        <div class="learn-column2">
                            <h2><a href="/learn/index.htm">How to ride</a></h2>
                            <ul>
                                <li><a href="/howtoride/bus.htm" class="bus">Buses</a></li>
                                <li><a href="/howtoride/max.htm" class="max">MAX Light Rail</a></li>
                                <li><a href="/howtoride/wes.htm" class="wes">WES Commuter Rail</a></li>
                                <li><a href="/howtoride/streetcar.htm" class="streetcar">Portland Streetcar</a></li>
                            </ul>
                        </div><!-- end learn-column2 -->
                        <div class="learn-column3">
                            <ul>
                                <li><a href="/howtoride/bikes/index.htm"><span>Bringing your bike</span></a></li>
                                <li><a href="/parkandride/index.htm"><span>Park &amp; Ride</span></a></li>
                                <li><a href="/howtoride/rules.htm"><span>Rules for riding</span></a></li>
                                <li><a href="/access/index.htm"><span>Accessibility features</span></a></li>
                                <li><a href="/howtoride/security.htm"><span>Safety/security</span></a></li>
                                <li><a href="/howtoride/kids.htm"><span>Traveling with kids</span></a></li>
                                <li><a href="/destinations/index.htm"><span>Local destination ideas</span></a></li>
                                <li><a href="/fares/fieldtrips.htm"><span>Groups/field trips</span></a></li>
                                <li id="route-snowmessage"><a href="/howtoride/winterweather.htm"><span>Winter weather tips</span></a></li>
                            </ul>
                        </div><!-- end learn-column3 -->
                    </div>
                </div>
            </li>
            <li id="tabs-buy" class="tabs-first-level">
                <a href="/store/index.htm" class="tabs-first-level"><span class="visuallyhidden">Buy: Tickets, Passes, Gear, Apps</span></a>
                <div class="tabs-dd-outer">
                    <div class="tabs-dd-inner group">
                        <ul class="buy">
                            <li><a href="http://store.trimet.org" class="fares">Tickets &amp; Passes</a></li>
                            <li><a href="/gear/index.htm" class="gear">TriMet Gear</a></li>
                            <li><a href="/apps/index.htm" class="apps">App Center</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="tabs-contact" class="tabs-first-level">
                <a href="/contact/index.htm" class="tabs-first-level"><span class="visuallyhidden">Contact: Customer Service, Lost and Found</span></a>
                <div class="tabs-dd-outer">
                    <div class="tabs-dd-inner group">
                        <div class="contact-column1">
                            <h2>Customer Service</h2>
                            <ul>
                                <li><a href="/mailforms/comments_general"><span>Question, comment or suggestion</span></a></li>
                                <li><a href="/mailforms/comments_employee"><span>Employee commendation or complaint</span></a></li>
                                <li><a href="/mailforms/lostandfound"><span>Lost &amp; Found</span></a></li>
                                <li><a href="/mailforms/comments_ticketmachine"><span>Ticket machine problem or refund</span></a></li>
                            </ul>
                            <p><a href="http://trimet.desk.com" class="questions"><span>Common questions</span></a></p>
                        </div><!-- end contact-column1 -->
                        
                        <div class="contact-column2">
                            <h3><a href="/contact/tto.htm">Ticket Office at Pioneer Courthouse Square</a></h3>
                            <p class="first">8:30 a.m.&ndash;5:30 p.m. weekdays<br>
                            701 SW 6th Ave., Portland, OR 97204</p>
                            
                            <h3><a href="/contact/index.htm">503-238-RIDE (7433)</a></h3>
                            <p>Arrival information and service alerts,<br>
                             24 hours a day.</p>
                        </div><!-- end contact-column2 -->
                    </div>
                </div>
            </li>
        </ul><!-- end #tabs -->
        
        <ul id="modes">
            <li class="bus"><a href="/bus/index.htm" title="Learn more about TriMet bus service"><abbr title="Learn more about TriMet bus service"><span>Bus</span></abbr></a></li>
            <li class="max"><a href="/max/index.htm" title="Learn more about TriMet MAX Light Rail service"><abbr title="Learn more about TriMet MAX Light Rail service"><span>MAX</span></abbr></a></li>
            <li class="wes"><a href="/wes/index.htm" title="Learn more about TriMet WES Commuter Rail service"><abbr title="Learn more about TriMet WES Commuter Rail service"><span>WES</span></abbr></a></li>
            <li class="streetcar"><a href="/streetcar/index.htm" title="Learn more about Portland Streetcar service"><abbr title="Learn more about Portland Streetcar service"><span>Streetcar</span></abbr></a></li>
        </ul>
    </nav><!-- end #nav -->
</div><!-- end #nav-wrap -->
