<a href="#content" class="visuallyhidden">Skip navigation</a>
<section id="topnav" class="group">
    <ul id="languages">
        <li class="mobile"><a href="/m/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Mobile']);"><span class="visuallyhidden">Mobile</span></a></li>
        <li class="spanish"><a href="/espanol/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Spanish']);"><span class="visuallyhidden">Espa&ntilde;ol</span></a></li>
        <li class="vietnamese"><a href="/languages/vietnameseweb/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Vietnamese']);"><span class="visuallyhidden">Ti&#7871;ngVi&#7879;t</span></a></li>
        <li class="chinese"><a href="/languages/chineseweb/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Chinese']);"><span class="visuallyhidden">&#20013;&#25991;</span></a></li>
        <li class="russian"><a href="/languages/russianweb/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Russian']);"><span class="visuallyhidden">&#1056;&#1059;&#1057;&#1057;&#1050;&#1048;&#1049;</span></a></li>
        <li class="korean"><a href="/languages/koreanweb/index.htm" onClick="_gaq.push(['_trackEvent', 'Languages', 'ClickTo', 'Korean']);"><span class="visuallyhidden">&#54620;&#44397;&#50612;</span></a></li>
    </ul>
    <div class="follow">
        <div style="margin-top:.0625em;">
            <a href="https://twitter.com/trimet" class="twitter-follow-button" data-show-count="false">Follow @trimet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="fb-like" data-href="http://facebook.com/trimet" data-send="false" data-layout="button_count" data-width="85" data-show-faces="false" data-font="arial"></div>       
    </div>
</section><!-- end #topnav -->
