<meta http-equiv="refresh" content="30" />
<script language="JavaScript" type="text/javascript">
function openPopup(theURL,winName,features) {
  var tracker = window.open(theURL,winName,features);
  if(tracker && tracker.focus) {
  	tracker.focus();
  }
  return false;
}

function changeContent(divid, content) {
  if (!document.getElementById) return;
  element = document.getElementById(divid);
  if(!element) return;
  element.innerHTML = content;
}
function arrivalDisplayString(seconds) {
   if (seconds < 60) {
      return "Due";
   } else {
      return parseInt((seconds + 30) / 60) + "&nbsp;min";
   }
}
var jsarrivals = new Array ();
var jsarrivalsIDs = new Array ();
% for arrival in c.arrivals:
  % if arrival.is_showing_minutes():
  jsarrivals.push(${arrival.seconds_away});
  jsarrivalsIDs.push('a${arrival.arrival_identifier}');
  % endif
% endfor

function track() {
  for(var i = 0; i < jsarrivals.length; i++) {
    old_text = arrivalDisplayString(jsarrivals[i]);
    jsarrivals[i]--;
    new_text = arrivalDisplayString(jsarrivals[i]);
    if ( old_text != new_text ) {
      changeContent(jsarrivalsIDs[i], new_text);
    }
  }
 setTimeout("track()",1000); // milliseconds
}
setTimeout("track()",1000); // milliseconds
// -->
</script>