## -*- coding: utf-8 -*-
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8 | !(IE)]><!--><html id="html" dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->

<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
${util.time_stamp()}
##
## BELOW ARE THE ABSTRACT METHODS (to be overridden by sub-classed templates) that populate this base page
##
<%def name="title()">ABSTRACT title()</%def>
<%def name="app_css()"><!-- ABSTRACT app_css() --></%def>
<%def name="meta_data()"><!-- ABSTRACT meta_data() --></%def>
<%def name="header()"><!-- ABSTRACT header() --></%def>
<%def name="js_onload()">/** ABSTRACT js_onload() **/</%def>
<%def name="emergency_content()"><!-- ABSTRACT emergency_content() --></%def>
<%def name="side_bar()"><!-- ABSTRACT side_bar() --></%def>
<%def name="bottom()"><!-- ABSTRACT bottom() --></%def>
<%def name="mainContentStyle()"></%def>
<%def name="planner_selected()"></%def>
<%def name="tracker_selected()"></%def>
<%def name="schedule_selected()"></%def>
<%def name="stations_selected()"></%def>
<%def name="alerts_selected()"></%def>
##
## customize the section that surrounds the page content by overriding main_wrap_top() and main_wrap_bottom()
## 
<%def name="main_wrap_top()">

</%def>
<%def name="main_wrap_bottom()">

</%def>


<head>
    <meta name="robots" content="all"/>
    ${self.meta_data()}
    <title>${self.title()}</title>
    <%include file="/shared/header.html" />
    ${self.app_css()}
    ${self.header()}
</head>


<body class="env-develop" id="top" onLoad="${self.js_onload()}">
    <div id="application">

    ${self.emergency_content()|n,decode.utf8}

    %if util.is_test():
    <%include file="/shared/nav-unlinked.html" />
    %else:
    <%include file="/shared/nav.html" />
    %endif


    <section id="content" class="content">
        <a name="content"></a>
        ${next.body()}
        ${self.main_wrap_top()}
        ${self.main_wrap_bottom()}

        % if skip_sidebar:
            ## sidebar intentionally skipped via attribute 'skip_sidebar'
        % else:
           ## <div class="fullwidth">
           ##     <div class="contentcontainer">
           ##         <div class="row">
           ##             <div class="col-xs-12">
           ##                 ${self.side_bar()}
           ##             </div>
           ##         </div>
           ##     </div>
           ## </div>
        % endif

        ${self.bottom()}
        <%include file="/shared/share.html"/>
    </section><!-- #.content -->


    %if util.is_test():
    <%include file="/shared/footer-unlinked.html" />
    %else:
    <%include file="/shared/footer.html" />
    %endif

</div><!-- #application -->    
</body>
</html>
