## -*- coding: utf-8 -*- 
<%namespace name="util" file="/shared/util.mako"/>

<!-- BELOW ARE THE ABSTRACT METHODS (to be overridden by sub-classsed templates) that populate this base page -->
<%def name="title()">ABSTRACT title()</%def>
<%def name="app_css()"><!-- ABSTRACT app_css() --></%def>
<%def name="meta_data()"><!-- ABSTRACT meta_data() --></%def>
<%def name="header()"><!-- ABSTRACT header() --></%def>
<%def name="js_onload()">/** ABSTRACT js_onload() **/</%def>
<%def name="emergency_content()"><!-- ABSTRACT emergency_content() --></%def>
<%def name="side_bar()"><!-- ABSTRACT side_bar() --></%def>
<%def name="mainContentStyle()"></%def>

<%def name="planner_selected()"></%def>
<%def name="tracker_selected()"></%def>
<%def name="schedule_selected()"></%def>
<%def name="stations_selected()"></%def>
<%def name="alerts_selected()"></%def>

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all"/>
    ${self.meta_data()}
    <title>${self.title()}</title>

    <%include file="/shared/head-top.html"/>
    <link rel="stylesheet" href="${util.url_domain()}/css/content.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:700,400' rel='stylesheet' type='text/css'>
    ${self.app_css()}
    ${self.header()}
    <%include file="/shared/head-bottom.html"/>
</head>


<body class="standard" onLoad="${self.js_onload()}">

    <%include file="/shared/topnav.html"/>
    ${self.emergency_content()|n,decode.utf8}

    <header id="header-wrap" class="group">
        <%include file="/shared/nav.html"/>

        <div id="triptools-wrap" class="group">
            <nav id="triptools">
                <ul id="triptools-tabs">
                    <li id="tripplanner"    ${self.planner_selected()}><a href="${util.url_domain()}/index.htm" title="Get step-by-step travel directions"><span>Trip Planner</span></a><div class="triptools-pointer"></div></li>
                    <li id="transittracker" ${self.tracker_selected()}><a href="${util.url_domain()}/arrivals/index.htm" title="Get real-time arrival information for buses and trains"><span>TransitTracker</span></a><div class="triptools-pointer"></div></li>
                    <li id="schedulesmap"   ${self.schedule_selected()}><a href="${util.url_domain()}/schedules/index.htm" title="View timetables, system maps and route maps"><span>Maps &amp; Schedules</span></a><div class="triptools-pointer"></div></li>
                    <li id="stopsstations"  ${self.stations_selected()}><a href="${util.url_domain()}/stopsandstations/index.htm" title="Find nearby stops, look up a Stop ID or get service info"><span>Stops &amp; Stations</span></a><div class="triptools-pointer"></div></li>
                    <li id="servicealerts"  ${self.alerts_selected()}><a href="${util.url_domain()}/alerts/index.htm" title="See current and future delays, detours and closures"><span>Service Alerts</span></a><div class="triptools-pointer"></div></li>
                </ul>
            </nav><!-- end #triptools -->
        </div><!-- end #triptools-wrap -->
    </header><!-- end #header-wrap -->


    <div id="content-wrap" class="group">
        <div id="content" class="group">
            <a name="content"></a>

            <section id="main" ${self.mainContentStyle()} class="main"><!-- need to figure out how to resolve #main and #main-fullwidth -->
                <%include file="/shared/share.html"/>
                ${next.body()}
            </section><!-- end #main -->

            % if hasattr(c, 'skip_sidebar') == False:
                ${self.side_bar()}
            % else:
                <!-- sidebar intentionally skipped via attribute 'skip_sidebar' -->
            % endif

        </div><!-- end #content -->
    </div><!-- end #content-wrap -->


    <div id="bottom-wrap">
    	TODO make this section optional ala sidebar
        <div id="disclaimer">
            <p>Times shown are estimates based on schedules and can be affected by traffic, road conditions, detours and other factors. Before you go, check
                <a href="/transittracker/about.htm" onClick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/transittracker/about.htm']);">TransitTracker</a>&trade; 
                for real-time arrival information and any Service Alerts that may affect your trip: Call 503-238-RIDE (7433), visit m.trimet.org, or text your Stop ID to 27299.
            </p>
        </div>

        <div class="ad"><img src="${util.img_url()}/ad-728x90.jpg" /></div>
    </div>


    <%include file="/shared/footer.html"/>
</body>
</html>
