<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_util.mako"/>
<%namespace name="plib"  file="/shared/utils/planner.mako"/>
<%
    is_mobile = False
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Exception')}</%def>

<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-tp.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Triplanner, OTP, routeplanner, planner" />
    <meta name="Description" content="" />
</%def>
<%def name="side_bar()">
</%def>
<%def name="planner_selected()">class="selected"</%def>

<%def name="option(v, p, selected=False)"><option ${'selected="selected"' if selected else '' | n} value="${v}">${p}</option></%def> 

<h1 class="tripplanner-icon">
    <a href="planner_form.html?exception${extra_params}" title="${_(u'Trip Planner')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Trip Planner')} ${_(u'Home')}</span></a>
    ${_(u'Oops!')}</h1>
<h2>${_(u'The TripPlanner is not working...')}</h2>
<p>${_(u'Email TriMet and let us know...')}</p>
<p>&nbsp;</p>


