## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Exception')}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>

<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">${page.tripplanner_css()}</%def>
${page.trip_planner(_(u'Oops!'), extra_params, 'exception')}

<h2>${_(u'The TripPlanner is not working...')}</h2>
<p>${_(u'Email TriMet and let us know...')}</p>
<p>&nbsp;</p>
