<%inherit file="/desktop/base.html"/>

<%namespace name="util"  file="/shared/util.mako"/>
<%namespace name="rs"    file="/shared/route_select.mako"/>

<%def name="title()">${_(u'TriMet: Stops and Stations')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/stopsstations.css" type="text/css" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
            <!-- begin #sidebar -->
            <aside id="aside" class="aside">
                <div id="icon" class="icon-stops">
                    <h2>Related</h2>  
                    <ul class="links">
                        <li><a href="/transitcenters/index.htm">Transit Centers</a></li>
                        <li><a href="/max/stations/index.htm">MAX Light Rail stations</a></li>
                        <li><a href="/wes/stations.htm">WES Commuter Rail stations</a></li>
                        <li><a href="/parkandride/index.htm">Park &amp; Ride lots </a> </li>
                        <li><a href="/portlandmall/index.htm">Portland Transit Mall</a></li>
                    </ul>
                </div>
            </aside>
            <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>

<% 
ga_select_route="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Select-a-line submit']);"
ga_find_stop="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Search submit']);"
%>

<style type="text/css">
<!--
/*stop id form overrides */
form.stopid-form {
    min-width: 400px;
    max-width: 400px;
    width: 400px;
}
form.stopid-form fieldset {
    display:inline;
}
form.stopid-form input {
    width: 255px;
}
-->
</style>
<p class="mobile"><a href="${util.url_domain()}/arrivals/small/pickroute.html"><span>${_(u'Mobile')}</span></a></p>

<div class="stops-form">
    <div id="stops-form-index" class="stops-form-top">

        <div class="stops-icon">
            <h1>${_(u'Stops & Stations')}</h1>
            <div class="tagline"><p>&nbsp;</p></div>
        </div>

        <div style="width:600px;"><!--for IE6-->
            <div style="width:240px; float:left; padding-left:20px; clear: both;">
                <form name="cstops" id="cstops_id" method="get" action="/go/cgi-bin/cstops.pl" class="form-style">
                <input type="hidden" name="action" value="entry">
                <input type="hidden" name="resptype" value="U">
                <!-- F: Formatted, U: Unformatted -->
                <input type="hidden" name="lang" value="en"  />
                <input type="hidden" name="noCat" value="Landmark"  />
                    <fieldset>
                        <label for="locationID">${_(u'Find stops and stations:')}</label>
                        <input name="Loc" type="text" value="" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular" size="15" maxlength="80" />
                        <p class="instructions">${_(u'Address, intersection, landmark or Stop ID')}</p>
                    </fieldset>
                    <fieldset class="submit">
                        <input tabindex="9" type="submit" value="${_(u'Find stops')}" id="submit" onclick="${ga_find_stop}" />
                    </fieldset>
                </form>
            </div>
            <div style="width:50px; float:left;">
                <img src="${util.url_domain()}/v3/images/structure/form-or.gif" />
            </div>
            <div style="width:290px; float:left;">
             ${rs.route_select_form('/stop', routes, ga_select_route)}
            </div>
            <p class="clear">&nbsp;</p>
        </div>
    </div> <!-- id="stops-form-index" class="stops-form-top" -->
    <div class="stops-form-bottom"></div>
</div> <!-- class="stops-form" -->
