<%inherit file="/desktop/base.html"/>

<%namespace name="util"  file="/shared/util.mako"/>
<%def name="title()">TriMet: ${_(u'Uncertain location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">

    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>

<!--
<p class="mobile"><a href="${util.url_domain()}/mobile/stop/locationID=${id}"><span>${_(u'Mobile')}</span></a></p>
-->

<h1 class="stopsstations-icon"><a href="/stopsstations/index.htm">Stops &amp; Stations</a></h1>

<h2 class="error">Uncertain location: 834 SE LAMBERT</h2>

<div id="location">
    <!-- The Entry Form -->
    <form name="ambig" method="POST" action="cstops.pl" class="triptools-form">
        <!-- Hidden Form Information -->
        <input type="hidden" name="action" value="ambig">
        <input type="hidden" name="resptype" value="U">
        <input type="hidden" name="access" value="N">
    
        <!-- Hide information entered on original input page -->
        <input type="hidden" name="lang" value="en"  />
        <input type="hidden" name="oldArea" value=""  />
        <input type="hidden" name="oldLoc" value="834 SE LAMBERT"  />
        <!-- Hide information about each location -->
        <input type="hidden" name="x1" value="45.490943" />
        <input type="hidden" name="y1" value="-122.406561" />
        <input type="hidden" name="loc1" value="834+SE+LAMBERT+CIRCLE" />
        <input type="hidden" name="acode1" value="GR" />
    
        <input type="hidden" name="x2" value="45.468602" />
        <input type="hidden" name="y2" value="-122.657627" />
        <input type="hidden" name="loc2" value="834+SE+LAMBERT+ST" />
        <input type="hidden" name="acode2" value="PO" />
    
        <!-- Directions/Help -->
        <fieldset>
            <label>Select a location:</label><!-- Scrolling List of Possible Locations -->
            <select name="locations" size="1" id="locations" onFocus="doClassHighlight(this);" class="regular" onBlur="doClassRegular(this);" />
                <option value="1">834 SE LAMBERT CIRCLE (in GRESHAM)</option>
                <option value="2">834 SE LAMBERT ST (in PORTLAND)</option>
            </select>
        </fieldset>
        <fieldset>
           <!-- Action Button -->
           <input name="select" tabindex="2" type="submit" value="Select" class="submit" />
        </fieldset>
        
        <div class="or-bar"><img src="${util.img_url()}/or-bar.png" alt="or" /><br />TODO spanish version of "or" </div>
        
        <!-- Text Box for Re-Typing Location -->
        <fieldset>
            <label>Re-type location:</label>
            <input type="text" name="newloc" value="834 SE LAMBERT" size="43" maxlength="80" id="newloc" onFocus="doClassHighlight(this);" class="regular" onBlur="doClassRegular(this);" />
            <div class="form-help">
                <div class="form-help-popup-onright">
                    <p>
                        There are several ways to enter a location:<br />
                        <b>Address</b><br /><kbd>4012 SE 17</kbd><br />
                        <b>Intersection</b> (where two streets cross each other)<br /><kbd>SE 17 &amp; Center</kbd>.<br />
                        <b>Landmarks</b><br /><kbd>PDX</kbd><br /><kbd>Rose Quarter Arena</kbd><br /><kbd>Clackamas Town Center</kbd>.
                    </p>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <input name="submit" tabindex="4" type="submit" value="Continue" class="submit" />
            <p class="form-help-highslide"><a href="#" onClick="return hs.htmlExpand(this, { contentId: 'highslide-help' } )" class="highslide image">Help</a> TODO not sure why highslide isn't working</p>
        </fieldset>
    </form>
</div>
    




<!-- help highslide -->
<div class="highslide-html-content" id="highslide-help" style="width:700px;">
    <div class="highslide-header">
        <ul>
            <li class="highslide-move"><a href="#" onClick="return false">Move</a></li>
            <li class="highslide-close"><a href="#" onClick="return hs.close(this)">Close</a></li>
        </ul>
    </div>
    <div class="highslide-body" style="text-align:left;">
        <!-- GeoCoder TIPS (should include localized version of this some way / shape / form) -->
        <h3>If the trip planner fails to find a location:</h3>
        
        <h4>Check your spelling</h4>
        <p>If the trip planner cannot find an exact match on the spelling of a street or landmark, it will show you a list of alternatives, but if it finds a match, it will only show you the one that matches, which may not be the one you intended.</p>
        <blockquote>For example, if you type <kbd>400 Hawthourn</kbd> it will show you a list of alternatives that includes <kbd>400 SE Hawthorne Blvd.</kbd>, but if you type <kbd>400 Hawthorn</kbd> it will only find <kbd>400 SW Hawthorn Rd. (in Estacada)</kbd>.</blockquote>
        
        <p>Don't spell out directions, such as <kbd>North</kbd> or <kbd>Northwest</kbd> unless they are part of a street or landmark name (such as <kbd>SW North Ave</kbd> or <kbd>Northwest Senior Center</kbd>). Use abbreviations instead.</p>
        <blockquote>For example: Use <kbd>SE Hawthorne</kbd> <b>not</b> <kbd>Southeast Hawthorne</kbd></blockquote>
            
        <p>You may need to spell out the street name. Not all abbreviations are known to the trip planner. It knows that <kbd>MLK</kbd> means <kbd>Martin Luther King Jr. Blvd.</kbd> but it will not find <kbd>Hwy 99</kbd>.</p>
        
        <h4>The address may not exist.</h4>
        <p>If you've entered an address, try using an intersection instead.</p>
        
        <h4>The address may be confused with another.</h4>
        <p>Addresses that start with zero confuse the trip planner. It will find both <kbd>049 SW Porter</kbd> and <kbd>49 SW Porter</kbd> if you enter either address, but both will be listed as <kbd>49 SW PORTER ST</kbd>. Use a nearby intersection instead, such as <kbd>SW 1st & Porter</kbd> or <kbd>Naito Parkway & Porter</kbd>.</p>
        
        <h4>New streets or developments.</h4>
        <p>If the street or address is new, the trip planner may not know it yet. Try another  address or intersection that is near to the one you're trying to find.</p>
        
        <h4>New street names.</h4>
        <p>Some streets have been renamed. For example, <kbd>Martin Luther King Jr. Blvd.</kbd> used to be named <kbd>Union Ave.</kbd>, and <kbd>Naito Parkway</kbd> was named <kbd>Front Ave</kbd>.</p>
        <p align="center"><a href="#" onClick="return hs.close(this)">Close</a></p>
    </div>
</div>

