<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_util.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Map location ')} ${util.name_city_str_from_struct(place)}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ms.css" type="text/css" media="all" />
</%def>
<%def name="schedule_selected()">class="selected"</%def>
##
## main content
##
<h1 class="schedulesmap-icon">
    <a href="#" title="${_(u'Maps & Schedules')} ${_(u'Home')}" class="homelink"></a><span class="visuallyhidden">Maps &amp; Schedules</span>
    ${_(u'Map location')}
</h1>
<h2>${util.name_city_str_from_struct(place)}</h2>
<p>&nbsp;</p>

%if place['lat'] and place['lon']:
    ${util.place_map(place['name'], place['lon'], place['lat'], extra_params)}
    ${util.plan_a_trip_links(place['name'], place['lon'], place['lat'], extra_params)}
%endif

