<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_utils.mako"/>
<%namespace name="su"    file="/shared/utils/stop_utils.mako"/>
<%namespace name="side"  file="/shared/utils/sidebar_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Map location ')} ${util.name_city_str_from_struct(place)}</%def>
<%def name="side_bar()">${side.tc_pr_lr_wes_mall('Map location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools/triptools-ms.css" type="text/css" media="all" />
</%def>
<%def name="schedule_selected()">class="selected"</%def>
##
## main content
##
<div id="triptool" class="schedulesmap-icon">
    <a href="#">Maps &amp; Schedules</a></span>
</div>
<h1>${_(u'Map location')}</h1>
<h2>${util.name_city_str_from_struct(place)}</h2>
<p>&nbsp;</p>

%if place['lat'] and place['lon']:
    ${su.place_map(place['name'], place['lon'], place['lat'], extra_params)}
    ${util.plan_a_trip_links(place['name'], place['lon'], place['lat'], extra_params)}
%endif

