<%namespace name="util" file="/shared/utils/hf_utils.mako"/>
<!-- begin nav -->
<nav class="navbar col-lg-12 col-md-12 col-sm-12">
    <a href="//opentransittools.com"><div class="logo-image"></div></a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">MENU</button>
    </div>
    <div id="nav-menu-helper" class=""></div>
    <div id="nav-menu-bar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="nav-menu">
            <div class="float-left">
                <a href="/#" target="_parent">
                    <div class="circle"></div><div class="main">home</div>
                </a>
            </div>
            <div class="float-left">
                <a href="//opentransittools.com" target="_blank">
                    <div class="circle"></div><div class="main">stops</div>
                </a>
            </div>
            <div class="float-left">
                <a href="//github.com/OpenTransitTools" target="_blank">
                    <div class="circle"></div><div class="main">planner</div>
                </a>
            </div>
            <div class="float-left">
                <a class="inactive" href="//wikipedia.org" target="_self">
                     <div class="circle"></div><div class="main">docs</div>
                </a>
            </div>
            <div class="float-left">
                <a class="inactive" href="//news.google.com" target="_self">
                    <div class="circle"></div><div class="main">xxx</div>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- end nav -->