<%inherit file="/desktop/base.html"/>

<%namespace name="util" file="/shared/util.mako"/>

<%
    ga_select_route ="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Select-a-line submit']);"
    ga_find_stop    ="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Search submit']);"
    extra_params = util.get_extra_params()
%>


<%def name="title()">TriMet: ${_(u'Nearest Service')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
        <h2>${_(u'Related')}</h2>  
        <ul class="links">
            <li><a href="/transitcenters/index.htm">${_(u'Transit Centers')}</a></li>
            <li><a href="/max/stations/index.htm">${_(u'MAX Light Rail stations')}</a></li>
            <li><a href="/wes/stations.htm">${_(u'WES Commuter Rail stations')}</a></li>
            <li><a href="/parkandride/index.htm">${_(u'Park & Ride lots')}</a></li>
            <li><a href="/portlandmall/index.htm">${_(u'Portland Transit Mall')}</a></li>
        </ul>
    </aside>
    <!-- end #sidebar -->
</%def>

<h1 class="stopsstations-icon">
    <a href="stop_select_form.html?near_service${extra_params}" title="${_(u'Stops & Stations')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Stops & Stations')} ${_(u'Home')}</span></a>
    ${_(u'Nearest service')}
</h1>
<%def name="stations_selected()">class="selected"</%def>

<p>${_(u'Find the nearest service to your location')}</p>

<div id="findservice">
    <form action="nearest_service_geocode.html" name="" id="sched_id" method="GET" class="triptools-form">
        <fieldset>
            <label for="Loc">${_(u'Location')}:</label>
            <input name="Loc" id="Loc" type="text" value="${_(u'Address, intersection, landmark or Stop ID')}" onFocus="doClear(this,'Address, intersection, landmark or Stop ID');" onBlur="doText(this,'Address, intersection, landmark or Stop ID');" class="regular" size="15" maxlength="80" />
                <div class="form-help">
                    ${util.form_help_right()}
                </div>
        </fieldset>
        <fieldset>
            <label for="Walk">${_(u'Within')}:</label>
            <select id="Walk" name="Walk" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                <option value="0.02">100 feet</option>
                <option value="0.05">250 feet</option>
                <option value="0.10">1/10 mile</option>
                <option value="0.25">1/4 mile</option>
                <option value="0.50">1/2 mile</option>
                <option value="0.75">3/4 mile</option>
                <option selected="selected" value="0.9999">1 mile</option>
            </select>
            <span>of my location</span>
        </fieldset>
        <fieldset>
            <label for="time">${_(u'Starting at')}:</label>
            <select id="time" name="Time1" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                <option value="12:00 am">12:00 am</option>
                <option value="1:00 am">1:00 am</option>
            </select>
            <span>on</span>
            <label for="month" class="hide">${_(u'Month')}:</label>
            <select id="month" name="month" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                <option value="January">January</option>
                <option value="December">December</option>
            </select>
            <label for="day" class="hide">${_(u'Day')}:</label>
            <select id="day" name="day" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                <option value="1">1</option>
                <option value="31">31</option>
            </select>
            <span>for</span>
            <label for="range" class="hide">${_(u'Length of time')}:</label>
            <select id="range" name="Range" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                <option value="1">1 hour</option>
                <option value="24">24 hours</option>
            </select>
        </fieldset>
        <fieldset>
            <input type="submit" value="${_(u'Find service')}" class="submit" onClick="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'Find Nearest Service submit']);" />
        </fieldset>
    </form>
</div>
