<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>
<%
    extra_params = util.get_extra_params()
%>

<%def name="title()">TriMet: ${_(u'Uncertain location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>

<h1 class="stopsstations-icon">
    <a href="stop_select_form.html?nearest_geo${extra_params}" title="${_(u'Stops & Stations')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Stops & Stations')} ${_(u'Home')}</span></a>
    Uncertain location
</h1>
