## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_utils.mako"/>
<%namespace name="meta"  file="/shared/utils/meta_utils.mako"/>
<%namespace name="page"  file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib"  file="/shared/utils/planner_utils.mako"/>
<%namespace name="pform" file="/shared/utils/planner_form_utils.mako"/>
<%namespace name="form"  file="/shared/utils/form_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Plan Your Trip on TriMet')}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>
<%def name="side_bar()"></%def>
<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">
    ${page.tripplanner_css()}
    ${form.autocomplete_css_includes()}
    ${form.autocomplete_js_includes()}
    ${form.planner_form_js_includes()}
</%def>
${form.select_form_scriptlet('from')}
<%def name="js_onload()">javascript:select_form();</%def>

${page.main_trip_planner_form(_(u'Plan Your Trip on TriMet'), extra_params, 'form')}

## override section ID to make this page full width
<%def name="main_wrap_top()">
    <style type="text/css">
        #main-fullwidth {
            margin-top: 3.75em;
        }
        #sharepage {    /* override for full width page */
            margin-top: 1.5em;
            padding-right: 0;
        }
    </style>
    <section id="main-fullwidth" ${self.mainContentStyle()} class="main">
</%def>
<%def name="main_wrap_bottom()"></section><!-- end #main-fullwidth --></%def>
<%def name="bottom()">${plib.bottom_imap_bar()}</%def>
##
## main content
##
${pform.planner_form()}
${pform.autocomplete_trip_planner()}
${pform.dynamic_forms_js()}
