## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib" file="/shared/utils/planner_utils.mako"/>
<%
    is_mobile = False
    itinerary = plib.get_itinerary(plan)
    extra_params = util.get_extra_params()
%>
<%def name="title()">${plib.itin_page_title(plan)}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>
<%def name="side_bar()"></%def>
<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">${page.tripplanner_css()}</%def>
<script src="${util.url_domain()}/scripts/triptools.js"></script>
${page.trip_planner(_(u'Walking Directions'), extra_params, 'planner')}

##
## main content
##

## CSS customizations for walk directions
<style>
    ol.transit li.num1 .step-number img {display:none}
    ol.transit li.num1 div {display: block}
    ol.transit * * * {display: block}
    #details { padding: 0}
</style>
${plib.render_trip_details(plan)}
${plib.render_itinerary(itinerary, extra_params, is_mobile, True)}
