<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>
<%
    alerts = None
%>
<%def name="title()">TriMet: ${_(u'Trip Planner')} - ${_(u'From')} ${plan['from']['name']} ${_(u'to')} ${plan['to']['name']}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/tripplanform.css" type="text/css" /><!-- for trip planner pages -->
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Triplanner, OTP, routeplanner, planner"/>
    <meta name="Description" content=""/>
</%def>
<%def name="side_bar()">
            <!-- begin #sidebar -->
            <aside id="aside" class="aside">
                <div id="icon" class="icon-tripplanner">
                <p class="lead">${_(u'The Trip Planner provides step-by-step directions including where to board, how much to pay and where to transfer.')}</p>
                    <h2>${_(u'Related')}</h2>  
                    <ul class="links">
                      <li><a href="http://ride.trimet.org?mapit=I" title="${_(u'Plan trip on interactive map (fast connection recommended)')}">${_(u'Try out the Interactive Map Trip Planner')}</a></li>
                      <li><a href="${util.url_domain()}/tripplanner/help.htm" tabindex="17" title="${_(u'TriMet: Trip Planner Help')}" onclick="openPopup(this,'TripPlannerHelp','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=500,left=10,top=10'); return false;" target="TripPlannerHelp" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/tripplanner/help.htm']);">${_(u'Trip Planner tips & help')}</a></li>
                    </ul>
                </div>
                <p class="feedback"><a href="/feedback.html?app=">${_(u'Having problems? Click here for technical support.')}</a></p>
                %if alerts:
                %for a in alerts:
                    pass
                %endfor
                %endif
            </aside>
            <!-- end #sidebar -->
</%def>
##
## functions and modular stuff for itinerary
##
<%
    ''' this is the variable assignment section of the page
    '''

    # find target itinerary 
    itinerary = plan['itineraries'][0]
    for itin in plan['itineraries']:
        if itin['selected']:
            itinerary = itin
            break

    # misc strings
    # TODO: we should put all of these strings in the .json file
    #       that way, we can share across ALL APPs, ala desktop, mobile, map, etc...
    #       note that we also need a legacy planner web service, so...
    # 
    depart_arrive = _(u'Depart after') 
    time = itinerary['date_info']['start_time']
    if plan['arrive_by']:
        depart_arrive = _(u'Arrive by')
        time = itinerary['date_info']['end_time']

    optimize = _(u'Quickest trip')
    if plan['optimize'] == 'SAFE':
        optimize = _(u'Safest trip')
    elif plan['optimize'] == 'TRANSFERS':
        optimize = _(u'Fewest transfers')

    def get_mode_img(mode):
        ''' return 20x20px mode gif for leg list 
        '''
        #import pdb; pdb.set_trace()
        ret_val = ''
        path = util.planner_img_url()
        if mode == util.attr.BUS:
            ret_val = path + "/bus.gif"
        if mode == util.attr.WALK:
            ret_val =  path + "/walk.gif"
        if mode == util.attr.TRAIN:
            ret_val = path + "/rail.gif"
        return ret_val


    def render_leg(leg):
        ''' call render stuff above...
        '''
        if leg['mode'] in (util.attr.BUS, util.attr.TRAM):
            return render_transit_leg(leg)
        elif leg['mode'] == util.attr.WALK:
            return render_walk_leg(leg)
        return ''
%> 
<%def name="get_route_name(route)">${route['name']}${' ' + _(u'to') + ' ' + route['headsign'] if route['headsign'] else ''}</%def>
<%def name="render_transit_leg(leg)">
                
                <h3>
                    <img src="${get_mode_img(leg['mode'])}" alt="" border="0" class="icon" />
                    <b>
                        <a href="${leg['from']['stop']['schedule']} title="${_(u'Show schedule for')} ${leg['from']['name']}">${leg['date_info']['start_time']}</a>
                    </b>
                    ${_(u'Board')} <a href="${leg['route']['url']}" target="#" title="${_(u'Show map and schedules for this route.')}">${get_route_name(leg['route'])}</a>
                </h3>
                <h3>
                    <b>
                        <a href="${leg['to']['stop']['schedule']}" title="${_(u'Show schedule for')} ${leg['to']['name']}">${leg['date_info']['end_time']}</a>
                    </b>
                    ${_(u'Get off at')} <a href="${leg['to']['stop']['info']}" title = "${_(u'Click for more information about this stop')}">${leg['to']['name']}</a>
                </h3>
                <span class="stopid">${_(u'Stop ID')}&nbsp;${leg['to']['stop']['id']}</span>
</%def>
<%def name="render_walk_leg(leg)">
                <!--
                <li>
                    <h3>
                        <img src="/v3/images/tripplanner/walk.gif" alt="" border="0" class="icon" /> 
                        <a href="walk_dir.pl?lang=t&Floc=SE%20EXETER%2.459378&Tycoord=-122.652514&Walk=1.0&resptype=U" title = "Show walking directions.">Walk 0.33 mile north</a> 
                        from SE Exeter Dr &amp; SE St Andrews Dr to <a href="stop_info.pl3/13" title = "Click for mohis stop">SE Linn &amp; 13th</a>
                    </h3>
                    <span class="stopid">Stop ID&nbsp;3419</span>
                </li>
                
                
                <li>
                    <h3>
                         <img src="/v3/images/tripplanner/walk.gif" alt="" border="0" class="icon" /> 
                         Go to 
                         <a href="stop_info.pl?lang=t&Id=7107&acode1=PO&x1=45.530148&y1=-122.654332&date=03/13/13" title = "Click for more information about this stop">Lltion</a>
                    </h3>
                    <span class="stopid">Stop ID&nbsp;8374</span>
                </li>
                
                
                <li>
                    <h3>
                        <img src="/v3/images/tripplanner/walk.gif" alt="" border="0" class="icon" /> 
                        <a href="walk_dir.pl?lang=t&Floc=Washington%20Park%20MAX%20Station&Fxcoord=45.510659&Fyc       " title = "Show walking directions.">Walk 0.1 mile southeast</a> 
                        to Zoo
                </h3>
                <li>
                    <h3>
                        <img src="/v3/images/tripplanner/walk.gif" alt="" border="0" class="icon" /> 
                        <a href="walk_dir.pl?lang=t&Floc=SE%2017th%20%26%20Ochoco%20St&Fxcoord=45.458728&Fycoord=-122.647110&Tloc=SE%20EXETER%20DR%20%26%20SE%20ST%20ANDREWS%20DR&Txcoord=45.455394&Tycoord=-122.652335&Walk=1.0&resptype=U" title = "Show walking directions.">Walk 0.4 mile southwest</a> 
                        to SE Exeter Dr &amp; SE St Andrews Dr
                    </h3>
                </li>
                
                <li>
                     <h3>
                          <img src="/v3/images/tripplanner/end.gif" alt="" border="0" class="icon" /> End at <a href="showmap.cgi?lang=t&long=-122.7163&lat=45.5097&icon=end&area=PO&desc=Zoo">Zoo in Portland</a>
                     </h3>
                -->
                <h3>
                    <img src="${get_mode_img(leg['mode'])}" alt="" border="0" class="icon" />
                    %if leg['steps']:
                    <a href="TODO-render_walking_directions(leg)" title = "${_(u'Show walking directions.')}">${_(u'Walk')} 0.4 ${_(u'mile')} TODO=get_compass_direction(SW)</a> 
                    %elif leg['to']['stop'] and leg['transfer']:
                    ${_(u'Go to')}
                    %endif
                    %if leg['to']['stop']:
                    <a href="${leg['to']['stop']['info']}" title = "${_(u'Click for more information about this stop')}">${leg['to']['name']}</a>
                    %endif
                </h3>
                %if leg['to']['stop']:
                <span class="stopid">${_(u'Stop ID')}&nbsp;${leg['to']['stop']['id']}</span>
                %endif
</%def>
<%def name="itin_tab(itin_list, i, text)">
    %if len(itin_list) >= i: 
        %if itin_list[i-1]['selected']:
        <span>${text}</span>
        %else:
        <a href="${itin_list[i-1]['url']}" class="unselected">${text}</a>
        %endif
    %endif
</%def>
##
## main content
##
<p class="mobile"><a href="${util.url_domain()}/mobile/stop/locationID=${id}"><span>${_(u'Mobile')}</span></a></p>

<div class="planner-form">
    <div class="planner-form-top">
        <div class="planner-icon">
            <h1>${_(u'Your Trip on TriMet')}</h1>
            <div class="tagline">
                <div class="hide">
                    <form>
                        <input name="print" type="button" value="${_(u'Print')}" title="${_(u'Print this page')}" onClick="javascript:window.print();_gaq.push(['_trackEvent', 'TripPlanner', 'PrintClickTo', 'Itinerary print top']);" class="noprint" />
                    </form>
                </div>
            </div>
        </div>
        <div class="planner-header">
            <h2>${_(u'From')} ${plan['from']['name']} ${_(u'to')} ${plan['to']['name']}</h2>
        </div>
        %if len(plan['itineraries']) > 1:
        <div class="tabs">
            <p class="heading">
                ${itin_tab(plan['itineraries'], 1, _(u'Option 1: Your best bet'))}
                ${itin_tab(plan['itineraries'], 2, _(u'Option 2'))}
                ${itin_tab(plan['itineraries'], 3, _(u'Option 3'))}
            </p>
        </div>
        %endif
        <div id="itinerary">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
            <tr>
                <td width="15%"><strong>${_(u'When')}</strong></td> <td>${depart_arrive} ${time} ${itinerary['date_info']['pretty_date']}</td>
            </tr>
            <tr>
                <td><strong>${_(u'Preferences')}</strong></td><td>${optimize} ${_(u'with a maximum walk of')} 1 mile <a href="planner_form.html?${plan['params']}" title = "${_(u'Try different options')}" onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit top']);">${_(u'Edit')}</a></td>
            </tr>
            <tr>
                <td><strong>${_(u'Time')}</strong></td><td>${itinerary['date_info']['pretty_date']}</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>${_(u'riding on transit')} ${_(u'from')} ${itinerary['date_info']['start_transit']} ${_(u'to')} ${itinerary['date_info']['end_transit']}</td>
            </tr>
            <tr>
                <td><strong>${_(u'Transfers')}</strong></td><td>${itinerary['transfers']}</td>
            </tr> 
            <tr>
                <td><strong>${_(u'Fare')}</strong></td><td>${_(u'Adult')}: ${itinerary['fare']['adult']}, ${_(u'Youth')}: ${itinerary['fare']['youth']}, ${_(u'Honored Citizen')}: ${itinerary['fare']['honored']}</td>
            </tr>
            </table>
        </div>

        <ol id="tripsteps">
            <li class="first">
                <h3>
                    <img src="${util.url_domain()}/v3/images/tripplanner/start.gif" alt="" border="0" class="icon" /> 
                    ${_(u'Start at')} 
                    <a href="${plan['from']['map_img']}">${plan['from']['name']}</a>
                </h3>
                %if plan['from']['stop']:
                <h3>
                    <a href="${plan['from']['stop']['info']}" title = "${_(u'Click for more information about this stop')}">${plan['from']['stop']['name']}</a>
                </h3>
                <span class="stopid">${_(u'Stop ID')}&nbsp;${plan['from']['stop']['id']}</span>
                %endif
            </li>

            ##
            ## loop through the legs between start and end elements
            ##
            %for leg in itinerary['legs']:
            <li>
                ${render_leg(leg)}
            </li>
            %endfor

            <li class="last">
                <h3>
                    <img src="${util.url_domain()}/v3/images/tripplanner/end.gif" alt="" border="0" class="icon" /> 
                    ${_(u'End at')} 
                    <a href="${plan['to']['map_img']}">${plan['to']['name']}</a>
                </h3>
                %if plan['to']['stop']:
                <h3>
                    <a href="${plan['to']['stop']['info']}" title = "${_(u'Click for more information about this stop')}">${plan['to']['stop']['name']}</a>
                </h3>
                <span class="stopid">${_(u'Stop ID')}&nbsp;${plan['to']['stop']['id']}</span>
                %endif
            </li>
        </ol>

        <p id="buttons" class="hide">
            <span class="button-tripplanner"><a href="planner_form.html#TODO URL PARAMS" title="${_(u'Plan return trip')}"      onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary reverse']);">${_(u'Reverse')}</a></span>
            <span class="button-tripplanner"><a href="planner_form.html#TODO URL PARAMS" title="${_(u'Try different options')}" onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit']);">${_(u'Edit')}</a></span> 
            <span class="button-tripplanner"><a href="#" title="${_(u'Print this page')}"       onclick="javascript:window.print(); _gaq.push(['_trackEvent', 'TripPlanner', 'PrintClickTo', 'Itinerary print']);">${_(u'Print')}</a></span>
        </p>
        <p class="help"><a href="${util.url_domain()}/tripplanner/trip-help.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/tripplanner/trip-help.htm']);">${_(u'Help')}</a></p>
    </div>
    <div class="planner-form-bottom"></div>
</div>

<div class="disclaimer">
    <p class="disclaimer-feedback">
        <strong>${_(u'Tell us about your trip')}</strong>
        <br/>
        ${_(u'Visit')} <a href="${util.url_domain()}/contact/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/contact/']);">trimet.org/contact</a> ${_(u'or call')} 503-238-RIDE (7433), ${_(u'option 5')}.
    </p>
    <p>${_(u'Times shown are estimates based on schedules and can be affected by traffic, road conditions, detours and other factors. Before you go, check')}
        <a href="${util.url_domain()}/transittracker/about.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/transittracker/about.htm']);">TransitTracker</a>&trade; 
        ${_(u'for real-time arrival information and any Service Alerts that may affect your trip')}: ${_(u'Call')} 503-238-RIDE (7433), ${_(u'visit')} m.trimet.org, ${_(u'or text your Stop ID to')} 27299.
    </p>
</div>
