<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_util.mako"/>
<%namespace name="form" file="/shared/utils/form_utils.mako"/>
<%namespace name="help" file="/shared/utils/help_utils.mako"/>
<%namespace name="an"   file="/shared/utils/analytics_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Trip Planner')} ${_(u'Uncertain location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-tp.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Tripplanner, OTP, routeplanner, planner" />
    <meta name="Description" content="" />
</%def>
<%def name="planner_selected()">class="selected"</%def>
## override section ID to make this page full width
<%def name="main_wrap_top()">
    <section id="main-fullwidth" ${self.mainContentStyle()} class="main">
    <%include file="/shared/share.html"/>
</%def>
<%def name="main_wrap_bottom()">
    </section><!-- end #main-fullwidth -->
</%def>
<%def name="bottom()">
    <div id="imap-wrap">
        <section id="imap" class="group">
            <h3><a href="${util.url_domain()}/maptripplanner/index.htm"><strong>${_(u'Interactive Map Trip Planner')}</strong>: ${_(u'Get transit + biking directions in one itinerary')} &raquo;</a></h3>
        </section><!-- end #imap -->
    </div><!-- end #promobar-wrap -->
</%def>
<h1 class="tripplanner-icon">
    <a href="planner_form.html" title="${_(u'Trip Planner')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Trip Planner')} ${_(u'Home')}</span></a>
    ${_(u'Plan your trip on TriMet')}
</h1>
<h2 class="error">${_(u'We cannot find')} ${place}</h2>
<style>select {width: 40em;}</style>
<div id="location">
    %if geocoder_results and len(geocoder_results) > 0:
    <form action="planner_geocode.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        ${form.search_list(_(u'Select a location'), geocoder_results)}
    </form>
    %endif

    <form action="planner_geocode.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        ${form.search_input(_(u'Re-type location'), place, size="85")}
        ${form.search_submit(_(u'Continue'), 4, analytics=an.trip_submit)}
    </form>
</div>

