<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>

<% 
    fromPlace='From'
    fromLat=''
    toPlace='To'
    toLat=''
%>

<%def name="title()">TriMet: ${_(u'Trip Planner')}</%def>

<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-tp.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Triplanner, OTP, routeplanner, planner" />
    <meta name="Description" content="" />
</%def>
<%def name="side_bar()"></%def>

<%def name="option(v, p, selected=False)"><option ${'selected="selected"' if selected else '' | n} value="${v}">${p}</option></%def> 

<%def name="input_form(name, clear, id, tab, place, coord)">
                <input type="text" id="${id}" name="${name}" value="${place}" tabindex="${tab}" onFocus="doClear(this,'${_(clear)}');" onBlur="doText(this,'${_(clear)}');" class="regular" size="45" maxlength="80" />
                <div class="form-help">
                    <div class="form-help-popup-onright">
                        <p>${_(u"You can type in an address, intersection, landmark or Stop ID here. For the best results, don't include a city, state or ZIP code.")}</p>
                    </div>
                </div></%def>

<div id="main-fullwidth">
    <h1>${_(u'Plan your trip on TriMet')}</h1>
    <div id="plantrip" class="group">
        <form name="itin" id="itin_id" method="GET" action="planner.html" class="form-style" />

        <div id="plantrip-left">
            <fieldset>
                <label for="from" class="hide">${_(u'From')}:</label>
                ${input_form('from', 'From', 'from', 1, fromPlace, fromLat)}
            </fieldset>

            <fieldset>
                <label for="going" class="hide">${_(u'To')}:</label>
                ${input_form('to', 'To', 'going', 2, toPlace, toLat)}
            </fieldset>


            <fieldset>
                <label for="when" class="hide">${_(u'When')}:</label>
                <select name="Arr" id="depart" tabindex="3"  onchange="showTimeControls(this.selectedIndex);" onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    <option selected="selected" value="D">${_(u'Depart after')}</option>
                    <option value="A">${_(u'Arrive by')}</option>
                    <option value="L">${_(u'Late as possible')}</option>
                    <option value="E">${_(u'Early as possible')}</option>
                </select>
                <select name="Hour" id="Hour" tabindex="4"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                %for i in range(1, 13):
                    ${option(i, i, time_info['hour'] == i)}
                % endfor
                </select>
                <b>:</b>
                <select name="Minute" id="Minute" tabindex="5" onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                %for i in range(60):
                    ${option(i, str(i).rjust(2,'0'), time_info['minute'] == i)}
                % endfor
                </select>
                <select name="AmPm" id="AmPm" tabindex="6"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    ${option('am', _(u'am'), time_info['is_am'])}
                    ${option('pm', _(u'pm'), not time_info['is_am'])}
                </select>
                <select name="month" id="Month" tabindex="7"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    ${util.month_abbv_options(date_info['month'])}
                </select>
                <select name="day" id="Day" tabindex="8"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    ${util.day_options(date_info['day'], date_info['numdays'])}
                </select>
            </fieldset>

            <fieldset class="submit">
                <input name="submit" tabindex="13" type="submit" value="Get directions &raquo;" id="submit" title="${_(u'Submit your trip plan information')}" onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'Submit', ' Advanced Trip Planner submit']);" />
                <input type="checkbox" id="mapcheckbox" tabindex="12" title="${_(u'Show trip on an interactive map (broadband/desktop only)')}" name="mapit"  value="A" onclick="doMap();">
                <label for="mapcheckbox" class="mapcheckbox-label" title="Show trip on an interactive map (broadband/desktop only)">${_(u'Use Interactive Map')}</label>
            </fieldset>
        </div><!-- end #plantrip-left -->

        <div id="plantrip-right">
            <!--<p class="options">${_(u'Trip preferences (optional)')}</p>-->
            <fieldset class="preferences">
                <label for="trip-options">${_(u'Show me the')}: </label>
                <select name="Min" tabindex="9"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    <option selected="selected" value="T">${_(u'Quickest trip')} </option>
                    <option value="X">${_(u'Fewest transfers')} </option>
                </select>
            </fieldset>
            <fieldset class="preferences">
                <label for="trip-options">${_(u'Maximum walk')}:</label>
                <select name="Walk" tabindex="10"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    <option value="0.10">${_(u'1/10 mile')}</option>
                    <option value="0.25">${_(u'1/4 mile')}</option>
                    <option value="0.50">${_(u'1/2 mile')}</option>
                    <option value="0.75">${_(u'3/4 mile')}</option>
                    <option selected="selected" value="1.0">${_(u'1 mile')}</option>
                </select>
            </fieldset>
            <fieldset class="preferences">
                <label for="trip-options">${_(u'Travel by')}:</label>
                <select name="mode" tabindex="11"  onfocus="doClassHighlight(this);" class="regular" onblur="doClassRegular(this);">
                    <option selected="selected" value="TRANSIT,WALK">${_(u'Bus or train')}</option>
                    <option value="BUSISH,WALK">${_(u'Bus only')}</option>
                    <option value="TRAINISH,WALK">${_(u'Train only')}</option>
                </select>
            </fieldset>
            <div class="spacer"><a href="${util.url_domain()}/tripplanner/trip-help.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/tripplanner/trip-help.htm']);">${_(u'Help')}</a></div>
        </div><!-- end #plantrip-right -->
        </form>
        
    </div><!-- end #plantrip -->
</div><!-- end #main-fullwidth -->



<p>&nbsp;</p>

<div id="imap-wrap">
    <section id="imap" class="group">
        <h3><a href="/maptripplanner/index.htm"><strong>Interactive Map Trip Planner</strong>: Get transit + biking directions in one itinerary &raquo;</a></h3>
    </section><!-- end #imap -->
</div><!-- end #promobar-wrap -->

<p>&nbsp;</p>

