## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_util.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib"  file="/shared/utils/planner.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">${plib.itin_page_title(plan)}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>
<%def name="side_bar()">
    <aside id="aside" class="aside">
        ${side.sidebar_adverts(adverts)}
        ${side.help_map_feedback(plan['params']['map_planner'], plan['params']['feedback_url'], plan['params']['feedback_txt'], '/tripplanner/trip-help.htm')}
    </aside>
</%def>
<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">${page.tripplanner_css()}</%def>
<script src="${util.url_domain()}/scripts/triptools.js"></script>
<%def name="bottom()">${plib.bottom_imap_bar()} ${plib.bottom_disclaimer()}</%def>
${page.trip_planner(_(u'Your Trip on TriMet'), extra_params, 'planner')}
##
## main content
##
<%
    is_mobile = False
    itinerary = plib.get_itinerary(plan)
%>
${plib.render_trip_details(plan, itinerary, extra_params)}
${plib.render_tabs(plan, extra_params)}
${plib.render_itinerary(itinerary, extra_params)}
${plib.render_fares(itinerary, util.url_domain() + '/fares/index.htm')}
${plib.render_alerts(itinerary)}

<div id="console" class="group hide">
    <p class="console-left">
        <a href="#TODO_TODO" class="console-emailtext" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary email-text']);"><span>${_(u'Email/Text')}</span></a>
        <a href="javascript:window.print();" class="console-print" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'PrintClickTo', 'Itinerary print']);"><span>${_(u'Print')}</span></a>
        <a href="#TODO_TODO" class="console-mobile" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary view on mobile']);"><span>${_(u'View on mobile')}</span></a>
    </p>
    <p class="console-right">
        <a href="planner_form.html?${plan['params']['return_trip']}${extra_params}" class="console-returntrip" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary reverse']);"><span>${_(u'Return trip')}</span></a>
        <a href="planner_form.html?${plan['params']['edit_trip']}${extra_params}" class="console-edit" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit']);"><span>${_(u'Edit/Start over')}</span></a>
    </p>
</div><!-- end #console -->
