<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>
<%def name="title()">TriMet: ${_(u'Trip Planner')} - ${_(u'From')} ${plan['from']['name']} ${_(u'to')} ${plan['to']['name']}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-tp.css" type="text/css" media="all" />
    <script src="${util.url_domain()}/scripts/triptools.js"></script>
    <!--script src="/js/planner.js"/-->
</%def>

<%def name="meta_data()">
    <meta name="Keywords"    content="Triplanner, OTP, routeplanner, planner"/>
    <meta name="Description" content=""/>
</%def>
<%def name="planner_selected()">class="selected"</%def>
<%def name="side_bar()">
    <aside id="aside" class="aside">
        
            <!--
        <div id="icon" class="icon-rosette"> 
        </div>
            <h2>${_(u'Related')}</h2>  
            <p class="lead">${_(u'The Trip Planner provides step-by-step directions including where to board, how much to pay and where to transfer.')}</p>
            
            <div class="disclaimer">
                <p class="disclaimer-feedback">
                    <strong>${_(u'Tell us about your trip')}</strong>
                    <br/>
                    ${_(u'Visit')} <a href="${util.url_domain()}/contact/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/contact/']);">trimet.org/contact</a> ${_(u'or call')} 503-238-RIDE (7433), ${_(u'option 5')}.
                </p>
                <p>${_(u'Times shown are estimates based on schedules and can be affected by traffic, road conditions, detours and other factors. Before you go, check')}
                    <a href="${util.url_domain()}/transittracker/about.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/transittracker/about.htm']);">TransitTracker</a>&trade; 
                    ${_(u'for real-time arrival information and any Service Alerts that may affect your trip')}: ${_(u'Call')} 503-238-RIDE (7433), ${_(u'visit')} m.trimet.org, ${_(u'or text your Stop ID to')} 27299.
                </p>
            </div>
            -->
            
    %if adverts:
        <div id="trimet-ads">
        TODO format itinerary ads
        %for a in adverts:
            ${a['content'] | n}
        %endfor
            <p><a href="#" class="group" onclick="_gaq.push(['_trackEvent', 'TriMetAds-TripPlanner', 'ClickTo', 'Fares']);"><img src="${util.img_url()}/ads/fare.png"><span>No fare increases right now. Just lettin' you know!</span></a></p>
            <p><a href="#" class="group" onclick="_gaq.push(['_trackEvent', 'TriMetAds-TripPlanner', 'ClickTo', 'Mobile ticketing']);"><img src="${util.img_url()}/ads/mobile.png"><span>Mobile ticketing for smartphones coming summer 2013.</span></a></p>
            <p><a href="#" class="group" onclick="_gaq.push(['_trackEvent', 'TriMetAds-TripPlanner', 'ClickTo', 'Gear store']);"><img src="${util.img_url()}/ads/gear.png"><span>Order mugs, bags, t-shirts and more in the TriMet Gear Store.</span></a></p>
            <p><a href="#" class="group" onclick="_gaq.push(['_trackEvent', 'TriMetAds-TripPlanner', 'ClickTo', 'CO2']);"><img src="${util.img_url()}/ads/co2.png"><span>Taking this trip instead of driving will help the environment.</span></a></p>
        </div><!-- end #trimet-ads -->
    %endif
        
        <div id="sidebar-icons">
            <p class="helptips"><a href="${util.url_domain()}/tripplanner/trip-help.htm"><span>${_(u'Help/tips')}</span></a></p>
            <p class="showonmap"><a href="http://ride.trimet.org?mapit=I"><span>${_(u'Show this trip on Interactive Map')}</span></a></p>
            <p class="feedbackreport"><a href="/feedback.html?app=" onClick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/contact/']);"><span>${_(u'Feedback/report a problem')}</span></a></p>
        </div><!-- end #sidebar-icons -->
        
    </aside><!-- end #sidebar -->
</%def>
##
## functions and modular stuff for itinerary
##
<%
    ''' this is the variable assignment section of the page
    '''

    # find target itinerary 
    itinerary = plan['itineraries'][0]
    for itin in plan['itineraries']:
        if itin['selected']:
            itinerary = itin
            break

    # misc strings
    # TODO: we should put all of these strings in the .json file
    #       that way, we can share across ALL APPs, ala desktop, mobile, map, etc...
    #       note that we also need a legacy planner web service, so...
    # 
    depart_arrive = _(u'Depart after') 
    time = itinerary['date_info']['start_time']
    if plan['arrive_by']:
        depart_arrive = _(u'Arrive by')
        time = itinerary['date_info']['end_time']

    optimize = _(u'Quickest trip')
    if plan['optimize'] == 'SAFE':
        optimize = _(u'Safest trip')
    elif plan['optimize'] == 'TRANSFERS':
        optimize = _(u'Fewest transfers')

    def get_walk_title(leg):
        '''
        '''
        dir = leg['compass_direction'] if leg['compass_direction'] else ''
        return "{0} {1} {2}".format(_(u'Walk'), dir, leg['distance'])

    def get_bicycle_title(leg):
        '''
        '''
        dir = leg['compass_direction'] if leg['compass_direction'] else ''
        return "{0} {1} {2}".format(_(u'Bike'), dir, leg['distance'])

    def get_mode_img(mode):
        ''' return 20x20px mode gif for leg list 
        '''
        ret_val = ''
        path = util.planner_img_url()
        if mode == util.attr.BUS:
            ret_val = path + "/bus.png"
        if mode == util.attr.BICYCLE:
            ret_val = path + "/bicycle.png"
        if mode == util.attr.WALK:
            ret_val =  path + "/walk.png"
        if mode == util.attr.RAIL:
            ret_val = path + "/rail.png"
        if mode == util.attr.TRAM:
            ret_val = path + "/tram.png"
        if mode == util.attr.GONDOLA:
            ret_val = path + "/gondola.png"

        return ret_val


    def get_mode_css_class(mode):
        ''' return css class names
        '''
        ret_val = ''
        if mode == util.attr.BUS:
            ret_val = 'step-bus-icon'
        if mode == util.attr.CAR:
            ret_val = 'step-car-icon'
        if mode == util.attr.BICYCLE:
            ret_val = 'step-bike-icon'
        if mode == util.attr.WALK:
            ret_val = 'step-walk-icon'
        if mode == util.attr.RAIL:
            ret_val = 'step-wes-icon'
        if mode == util.attr.TRAM:
            ret_val = 'step-max-icon'
        if mode == util.attr.GONDOLA:
            ret_val = 'step-aerialtram-icon'

        return ret_val

    leg_id = 1
    def render_leg(leg, n):
        ''' call render stuff above...
        '''
        ret_val = ''

        global leg_id
        if n == 0:
            leg_id = 1
        if leg['mode'] in (util.attr.BUS, util.attr.TRAM, util.attr.RAIL, util.attr.TRAIN, util.attr.GONDOLA):
            ret_val = render_transit_leg(leg, leg_id, leg_id+1)
            leg_id = leg_id + 2 
        elif leg['mode'] == util.attr.WALK:
            ret_val = render_walk_leg(leg, leg_id)
            leg_id = leg_id + 1 
        elif leg['mode'] == util.attr.BICYCLE:
            ret_val = render_bicycle_leg(leg, leg_id)
            leg_id = leg_id + 1

        return ret_val
%>
<%def name="get_route_name(route)">${route['name']}${' ' + _(u'to') + ' ' + route['headsign'] if route['headsign'] else ''}</%def>
<%def name="get_route_link(route, mode)">
%if route is not None:
<a href="${route['url']}" target="#" title="${_(u'Show map and schedules for this route.')}" class="step-mode"><img src="${util.img_url()}/modes.png" width="0" height="1" class="${get_mode_css_class(mode)}" />${get_route_name(route)}</a>
%else:
${_(u'transit vehicle')}
%endif
</%def>

<%def name="render_transit_leg(leg, i, j)">
    <li class="num${i}">
        <div class="step-number"><img src="${util.img_url()}/numbers.png" width="0" height="1" /></div>
        <p>
            <a href="${leg['from']['stop']['schedule']}" title="${_(u'Show schedule for')} ${leg['from']['name']}" class="step-time">${leg['date_info']['start_time']}</a> ${_(u'Board')} ${get_route_link(leg['route'], leg['mode'])} 
            %if leg['alerts']:
            <a href="#alerts" title="${_(u'There is an alert that applies to this transit leg.  See the "alerts" section below for details')}" class="step-alert"><img src="${util.img_url()}/alert.png" /></a>
            %endif
        </p>
    </li>

    <li class="num${j}">
        <div class="step-number"><img src="${util.img_url()}/numbers.png" width="0" height="1" /></div>
        <p><a href="${leg['to']['stop']['schedule']}" title="${_(u'Show schedule for')} ${leg['to']['name']}" class="step-time">${leg['date_info']['end_time']}</a> ${_(u'Get off at')} <a href="${leg['to']['stop']['info']}" title="${_(u'More information about this stop')}">${leg['to']['name']}</a> <span class="stopid">${_(u'Stop ID')}&nbsp;${leg['to']['stop']['id']}</span></p>
    </li>
</%def>

<%def name="render_elevation(up, down, grade)">
                <p class="elevation"><span>
                    ${_(u'Total elevation uphill')}: ${_(u'foot', u'feet', mapping={'number':up})}<br />
                    ${_(u'Total elevation downhill')}: ${_(u'foot', u'feet', mapping={'number':down})}<br />
                    ${_(u'Steepest grade')}: ${grade}<br />
                    <a href="#">${_(u'Elevation chart')}</a></span>
                </p>
</%def>
<%def name="render_start_end_maps(from_img_url, to_img_url)">
                <div class="maps">
                    <p class="walk-start">${_(u'Start')}<br /><img src="${from_img_url}" alt="${_(u'Map of starting point (300x288)')}" width="300" height="288" /></p>
                    <p class="walk-end">
                        ${_(u'End')}
                        <br />
                        <img src="${to_img_url}" alt="${_(u'Map of ending point (300x288)')}" width="300" height="288" />
                    </p>
                </div><!-- end .maps -->
</%def>
<%def name="render_steps(steps)">
                <ol>
                    %for l in steps:
                    <li>${l['name']}</li>
                    %endfor
                </ol>
</%def>
<%def name="render_bicycle_leg(leg, i)">
    <li class="num${i}">
        <div class="step-number"><img src="${util.img_url()}/numbers.png" width="0" height="1" /></div>
        <p>
            <% bike_title = get_bicycle_title(leg)%>
            ${bike_title} ${_(u'to')}
            %if leg['to']['stop']:
            <a href="${leg['to']['stop']['info']}" title="${_(u'Click for more information about this stop')}">${leg['to']['name']}</a>
            %else:
            ${leg['to']['name']}
            %endif

            %if leg['to']['stop']:
            <span class="stopid">${_(u'Stop ID')}&nbsp;${leg['to']['stop']['id']}</span>
            %endif
        </p>

        <div class="normal"><!-- hidden walking directions and map -->
            <a href="#leg_${i}" onClick="expandMe(this);" title="${_(u'Biking directions')}" class="open"><span>${_(u'Biking directions')}</span></a>
            <div class="description">
                ${render_elevation(7, 1, '4%')}
                ${render_steps(leg['steps'])}
                ${render_start_end_maps(leg['from']['map_img'], leg['to']['map_img'])}
                    <!--
                    TODO TODO TODO
                    1. generic 'direction' element in json
                    2. enum for different walk insturctions Straight/Left/Slight Left/etc...
                    3. Reformat entire Leg, ala what happens on old trip planner...
                       http://maps5.trimet.org/maps/print/V1/tripplanner?fromPlace=pdx&toPlace=zoo&time=6:45%20pm
                    4. Dynamic Load Images... 
                    TODO TODO TODO
                    -->
            </div><!-- end .description -->
        </div><!-- end .normal/hidden walking directions -->
    </li>
</%def>
<%def name="render_walk_leg(leg, i)">
    <li class="num${i}">
        <div class="step-number"><img src="${util.img_url()}/numbers.png" width="0" height="1" /></div>
        <p>
            <% walk_title = get_walk_title(leg)%>
            %if leg['steps']:
            ${walk_title} ${_(u'to')}
            %elif leg['to']['stop'] and leg['transfer']:
            ${_(u'Go to')}
            %else:
            ${walk_title} ${_(u'to')}
            %endif
            %if leg['to']['stop']:
            <a href="${leg['to']['stop']['info']}" title="${_(u'Click for more information about this stop')}">${leg['to']['name']}</a>
            %else:
            ${leg['to']['name']}
            %endif
            %if leg['to']['stop']:
            <span class="stopid">${_(u'Stop ID')}&nbsp;${leg['to']['stop']['id']}</span>
            %endif
        </p>

        <div class="normal"><!-- hidden walking directions and map -->
            <a href="#leg_${i}" onClick="expandMe(this);" title="${_(u'Walking directions')}" class="open"><span>${_(u'Walking directions')}</span></a>
            <div class="description">
                %if leg['steps']:
                ${render_elevation(7, 1, '4%')}
                ${render_steps(leg['steps'])}
                ${render_start_end_maps(leg['from']['map_img'], leg['to']['map_img'])}
                %endif
            </div><!-- end .description -->
        </div><!-- end .normal/hidden walking directions -->
    </li>
</%def>
<%def name="itin_tab(itin_list, i, text)">
    %if len(itin_list) > i:
        <%
            it  = itin_list[i]
            sel = it['selected'] 
            n   = it['transfers']
            dur = it['date_info']['duration_min']
            tfer = _('transfer', 'transfers', mapping={'number':n})
        %>
        <!-- ${_('transfer')} or ${_('transfers')} -->
        %if sel:
        <li class="selected"><span><b>${text}</b><br />${dur} mins, ${tfer}, ${itinerary['fare']['adult']}</span></li>
        %else:
        <li class="normal"><a href="${itin_list[i-1]['url']}"><span><b>${text}</b><br/>${dur} mins, ${tfer}, ${itinerary['fare']['adult']}</span></a></li>
        %endif
    %endif
</%def>
##
## main content
##

    <h1 class="tripplanner-icon"><a href="${util.url_domain()}/desktop/planner_form.html">${_(u'Your Trip on TriMet')}</a></h1>
    <div id="details" class="group">
        <p class="origin"><img src="${util.img_url()}/start-end.png" width="0" height="1" /><strong>${_(u'From')}</strong> ${plan['from']['name']}</p>
        <p class="destination"><img src="${util.img_url()}/start-end.png" width="0" height="1" /><strong>${_(u'To')}</strong> ${plan['to']['name']}</p>
        <p class="tripinfo">${depart_arrive} ${time} ${itinerary['date_info']['pretty_date']}, ${_(u'riding on transit')} <a href="planner_form.html?${plan['params']}" onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit top']);" class="hide">${_(u'Edit')}</a></p>
        <p class="tripinfo">${optimize} ${_(u'with a maximum walk of')} 1 mile <a href="planner_form.html?${plan['params']}" onclick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit top']);" class="hide">${_(u'Edit')}</a></p>
    </div><!-- end #details -->

    %if len(plan['itineraries']) > 1:
    <ol id="plannertabs" class="group">
        ${itin_tab(plan['itineraries'], 0, _(u'Your best bet'))}
        ${itin_tab(plan['itineraries'], 1, _(u'Option 2'))}
        ${itin_tab(plan['itineraries'], 2, _(u'Option 3'))}
    </ol><!-- end #tabs -->
    %endif

    <ol id="itinerary" class="transit">
        ##
        ## loop through the legs between start and end elements
        ##
        %for n, leg in enumerate(itinerary['legs']):
            ${render_leg(leg, n)}
        %endfor
    </ol><!-- end #itinerary -->

    <p class="fare">Fare for this trip: <a href="/fares/index.htm">${_(u'Adult')}: ${itinerary['fare']['adult']}, ${_(u'Youth')}: ${itinerary['fare']['youth']}, ${_(u'Honored Citizen')}: ${itinerary['fare']['honored']}</a></p>

%if itinerary['has_alerts']:
    <div id="alerts" class="group">
        <!--<a target="#" href="${util.url_domain()}/alerts/"><img border="0" src="${util.url_domain()}/v3/images/tripplanner/alert.png">${_(u'Service Alerts')}</a>-->
        TODO display full alert text and time alert is active
        <p><img src="${util.img_url()}/alert.png" />
            <span class="alert-text">Until further notice, the westbound stop on SE Division at 37th (Stop ID 1457) is closed.</span>
            <span class="alert-time">As of March 19 @ 10:15am</span>
        </p>
        <p><img src="${util.img_url()}/alert.png" />
            <span class="alert-text">Until further notice, the westbound stop on SE Division at 37th (Stop ID 1457) is closed.</span>
            <span class="alert-time">As of March 19 @ 10:15am</span>
        </p>
    </div><!-- end #alerts -->
%endif


    <div id="console" class="group hide">
        <p class="console-left">
            <a href="#" class="console-emailtext" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary email-text']);"><span>${_(u'Email/Text')}</span></a>
            <a href="javascript:window.print();" class="console-print" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'PrintClickTo', 'Itinerary print']);"><span>${_(u'Print')}</span></a>
            <a href="#" class="console-mobile" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary view on mobile']);"><span>${_(u'View on mobile')}</span></a>
        </p>
        <p class="console-right">
            <a href="planner_form.html#TODO URL PARAMS" class="console-returntrip" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary reverse']);"><span>${_(u'Return trip')}</span></a>
            <a href="planner_form.html#TODO URL PARAMS" class="console-edit" onClick="_gaq.push(['_trackEvent', 'TripPlanner', 'ClickTo', 'Itinerary edit']);"><span>${_(u'Edit/Start over')}</span></a>
        </p>
    </div><!-- end #console -->





