## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_util.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib"  file="/shared/utils/planner.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">${plib.itin_page_title(plan)}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>
<%def name="side_bar()"></%def>
<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">${page.tripplanner_css()}</%def>
<script src="${util.url_domain()}/scripts/triptools.js"></script>
${page.trip_planner(_(u'Walking Directions'), extra_params, 'planner')}

##
## main content
##
<%
    is_mobile = False
    itinerary = plib.get_itinerary(plan)
%>
${plib.trip_details(plan)}

<ol id="itinerary" class="transit">
    ##
    ## loop through the legs between start and end elements
    ## ${plib.render_leg(leg, n)}
    %for n, leg in enumerate(itinerary['legs']):
        ${plib.render_leg(itinerary, n, is_mobile, extra_params)}
    %endfor
</ol><!-- end #itinerary -->
