<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/util.mako"/>
<%namespace name="form" file="/shared/form_utils.mako"/>
<%namespace name="help" file="/shared/help_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>

<%def name="title()">TriMet: ${_(u'Uncertain location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
        <h2>${_(u'Related')}</h2>  
        <ul class="links">
            <li><a href="/transitcenters/index.htm">${_(u'Transit Centers')}</a></li>
            <li><a href="/max/stations/index.htm">${_(u'MAX Light Rail stations')}</a></li>
            <li><a href="/wes/stations.htm">${_(u'WES Commuter Rail stations')}</a></li>
            <li><a href="/parkandride/index.htm">${_(u'Park & Ride lots')}</a></li>
            <li><a href="/portlandmall/index.htm">${_(u'Portland Transit Mall')}</a></li>
        </ul>
    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>

<h1 class="stopsstations-icon">
    <a href="stop_select_form.html?geo${extra_params}" title="${_(u'Stops & Stations')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Stops & Stations')} ${_(u'Home')}</span></a>
    ${_(u'Uncertain location')}
</h1>
<h2 class="error">${_(u'We cannot find')} ${place}</h2>

<div id="location">
    %if geocoder_results and len(geocoder_results) > 0:
    <form action="stop_select_geocode_nearest.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        <!-- Ambiguous address list - choose a specific address leading to nearest stops -->
        <fieldset>
            <label>${_(u'Select a location')}:</label><!-- Scrolling List of Possible Locations -->
            <select size="1"  name="place" id="stop_id" onFocus="doClassHighlight(this);" class="regular" onBlur="doClassRegular(this);" />
                %for l in geocoder_results:
                <option value="${l['name']}::${l['lat']},${l['lon']}::${l['city']}">${util.name_city_str(l['name'], l['city'], l['type_name'])}</option>
                %endfor
            </select>
        </fieldset>
        <fieldset>
           <!-- Action Button -->
           <input name="select" tabindex="2" type="submit" value="${_(u'Select')}" class="submit" />
        </fieldset>
    </form>

    <div class="or">
        <div class="or-bar"></div>
        <div class="or-text">${_(u'Or')}</div>
    </div>
    %endif

    <form action="stop_select_geocode.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        ${form.search_input(_(u'Find stops and stations'), place)}
        ${form.search_submit(_(u'Continue'))}
    </form>
</div>

