<%inherit file="/base/index.html"/>
<%namespace name="lib" file="/shared/lib.mako"/>

<%def name="title()">${_(u"TriMet: Stops and Stations")}</%def>

<%def name="route_select_form(url='/stopsandstations/route_stops_list', tabindex='9')">
<form action="${url}" class="form-style" method="get">
    <fieldset>
        <label for="route">${_(u"Select a line:")}</label>
        <select id="route" name="route">
        %for r in routes:
            <option value="${r['id']}">${r['name']}</option>
        %endfor
        </select>
        <p class="instructions">
            &nbsp;
        </p>
    </fieldset>
    <fieldset class="submit2">
        <input tabindex="${tabindex}" type="submit" id="submit" value='${_(u"Select")}' onclick="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Select-a-line submit']);" />
    </fieldset>
</form>
</%def>

<style type="text/css">
<!--
/*stop id form overrides */
form.stopid-form {
    min-width: 400px;
    max-width: 400px;
    width: 400px;
}
form.stopid-form fieldset {
    display:inline;
}
form.stopid-form input {
    width: 255px;
}
-->
</style>
<p class="mobile"><a href="${lib.url_domain()}/arrivals/small/pickroute.html"><span>${_(u"Mobile")}</span></a></p>

<div class="stops-form">
    <div id="stops-form-index" class="stops-form-top">

        <div class="stops-icon">
            <h1>${_(u"Stops & Stations")}</h1>
            <div class="tagline"><p>&nbsp;</p></div>
        </div>

        <div style="width:600px;"><!--for IE6-->
            <div style="width:240px; float:left; padding-left:20px; clear: both;">
                <form name="cstops" id="cstops_id" method="get" action="/go/cgi-bin/cstops.pl" class="form-style">
                <input type="hidden" name="action" value="entry">
                <input type="hidden" name="resptype" value="U">
                <!-- F: Formatted, U: Unformatted -->
                <input type="hidden" name="lang" value="en"  />
                <input type="hidden" name="noCat" value="Landmark"  />
                    <fieldset>
                        <label for="locationID">${_(u"Find stops and stations:")}</label>
                        <input name="Loc" type="text" value="" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular" size="15" maxlength="80" />
                        <p class="instructions">${_(u"Address, intersection, landmark or Stop ID")}</p>
                    </fieldset>
                    <fieldset class="submit">
                        <input tabindex="9" type="submit" value="Find stops" id="submit" onclick="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Search submit']);" />
                    </fieldset>
                </form>
            </div>
            <div style="width:50px; float:left;">
                <img src="${lib.url_domain()}/v3/images/structure/form-or.gif" />
            </div>
            <div style="width:290px; float:left;">
                ${route_select_form()}
            </div>
            <p class="clear">&nbsp;</p>
        </div>
    </div> <!-- id="stops-form-index" class="stops-form-top" -->
    <div class="stops-form-bottom"></div>
</div> <!-- class="stops-form" -->
