<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_util.mako"/>
<%namespace name="rs"   file="/shared/utils/route_select.mako"/>
<%
    extra_params = util.get_extra_params()
    nearest_stops = [
      {
          'stop_id': 2,
          'name':'stop name',
          'distance': 0.04,
          'route_id_list':'2,23,33,MAX Red,44'
          
      }
    ]
    stop_id = "TODO "
%>
<%def name="stations_selected()">class="selected"</%def>
<%def name="title()">TriMet: ${_(u'Stops near') } ${place['name']}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
        <h2>${_(u'Related')}</h2>  
        <ul class="links">
            <li><a href="/transitcenters/index.htm">${_(u'Transit Centers')}</a></li>
            <li><a href="/max/stations/index.htm">${_(u'MAX Light Rail stations')}</a></li>
            <li><a href="/wes/stations.htm">${_(u'WES Commuter Rail stations')}</a></li>
            <li><a href="/parkandride/index.htm">${_(u'Park & Ride lots')}</a></li>
            <li><a href="/portlandmall/index.htm">${_(u'Portland Transit Mall')}</a></li>
        </ul>
    </aside>
    <!-- end #sidebar -->
</%def>

<% 
ga_select_route="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Select-a-line submit']);"
ga_find_stop="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Search submit']);"
%>

<h1 class="stopsstations-icon">
    <a href="stop_select_form.html?geo${extra_params}" title="${_(u'Stops & Stations')} ${_(u'Home')}" class="homelink"><span class="visuallyhidden">${_(u'Stops & Stations')} ${_(u'Home')}</span></a>
    ${_(u'Nearest Stops')}
</h1>

<h2>${_(u'Stops near')} ${util.map_place_link(place)}</h2>
<ul id="stopslist" class="group">
    %for s in nearest_stops:
    <li>
        <h3 class="tight"><a href="stop.html?stop_id=${s['stop_id']}${extra_params}" title="${_(u'Click for more information about this stop')}">${s['name']}</a> <span class="stopid">${_(u'Stop ID')} ${s['stop_id']}</span></h3>
        <p><a href="planner_walk.html?">${_(u'miles', s['distance'])}</a> &nbsp;&bull;&nbsp; ${_(u'Served by')}: ${s['route_id_list']}</p>
    </li>
    %endfor

    <li>
        <p align="center"><a href="stop_select_geocode_nearest.html?show_more=true&stop_id=${stop_id}${extra_params}">${_(u'Show more stops')}</a></p>
    </li>
</ul>

