## -*- coding: utf-8 -*-
<%inherit file="/desktop/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="form" file="/shared/utils/form_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="su"   file="/shared/utils/stop_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>
<%def name="title()">${_(u'Stops & Stations')}</%def>
<%def name="meta_data()">${meta.stop()}</%def>
<%def name="side_bar()">${side.tc_pr_lr_wes_mall()}</%def>
<%def name="app_css()">
    ${page.stop_css()}
    ${form.autocomplete_css_includes()}
</%def>

<%def name="js_onload()">javascript:select_form();</%def>
${form.select_form_scriptlet()}
${page.stop_select(_(u'Stops & Stations'), extra_params, 'me', 'h1')}

<style type="text/css">
<!--
h2 {
    display: none;
}
-->
</style>

<div class="standardheader">
    <h1><a href="stop_select_form.html"><img src="${util.url_domain()}/global/img/icon-stopsstations.png" class="mode-icon" alt="Stops and Stations icon" /></a>${_(u'Stops & Stations')}</h1>
</div><!-- .standardheader -->  

<div class="fullwidth">
    <div class="contentcontainer">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                ${su.stop_select_form(place)}
                ${form.autocomplete_js_includes()}
                ${form.autocomplete_search_input()} 
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .contentcontainer -->
</div><!-- .fullwidth -->
