<%inherit file="/desktop/base.html"/>

<%namespace name="util"  file="/shared/util.mako"/>

<!-- mako template ... url parameter variables -->
<%
    sort_val     = 'time' if 'sort' in request.params and request.params['sort'] == 'time' else 'destination'
    sort_by_time = True   if 'sort' in request.params and request.params['sort'] == 'time' else False
    date  = '' if 'date'  not in request.params else request.params['date']
    route = '' if 'route' not in request.params else request.params['route']
    has_alerts = True if 'alerts' in stop and len(stop['alerts']) > 0 else False
%>

<%def name="title()">TriMet: ${_(u'Stop ID')} ${stop['stop_id']}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="schedule_selected()">class="selected"</%def>
    <h1 class="stopsstations-icon"><a href="http://trimet.org/stopsstations/index.htm">Stops &amp; Stations</a></h1>

    <h2><a href="stop.html?stop_id=${stop['stop_id']}&date=${date}">${_(u'Stop ID')} ${stop['stop_id']}</a></h2>
    <p>${util.stop_and_city_name(stop)}</p>

    <ul id="contenttabs">
        %for t in tabs:
          %if 'url' in t:
            <li class="normal"><a href="${t['url']}&sort=${sort_val}"><span>${t['name']}</span></a></li>
          %else:
            <li class="selected"><span>${t['name']}</span></li>
          %endif
        %endfor
    </ul>


    %if 'more' in request.params:
    <div id="moreform" class="group">
        <form name="select_date" id="select_date_id" method="GET" action="/stop_schedule.html" class="triptools-form">
            <input type="hidden" name="stopID" value="${stop['stop_id']}" />
            <input type="hidden" name="date"   value="${date}" />
            <input type="hidden" name="sort" value="${sort_val}" />
            %if more_form:
            ${util.month_select(more_form['month'])} ${util.day_select(more_form['day'])}
            <input name="submit" type="submit" value="${_(u'Select')}" class="submit" />
             %endif
        </form>
    </div>
    %endif


    %if 'single_route' in stop:
    ${stop['single_route']}
    [<a href="stop_schedule.html?stop_id=${stop['stop_id']}&date=${date}&sort=${sort_val}">${_(u'all routes')}</a>]
    %endif

    <p style="float:right;">
        <% u = "stop_schedule.html?stop_id={0}&route={1}&date={2}".format(stop['stop_id'], route, date) %>
        Sort:
        ${util.link_or_strong(_(u'By destination'), not sort_by_time, u + '&sort=destination', _('sort'))}
         &nbsp;|&nbsp; 
        ${util.link_or_strong(_(u'By time'), sort_by_time, u + '&sort=time', _('sort'))}
    </p>
    <p>${_(u'Schedule for')} ${pretty_date}</p>


    %if sort_by_time:
        %for s in stop['schedule']:
        <% 
            id = s['p']
            route = stop['route_patterns'][id]
            alerts = True if 'alerts' in route and len(route['alerts']) > 0 else False
        %> 
        <p><b>${s['t']}</b> ${route['name']}</p> 
        %endfor
    %else:
    %for p in stop['route_patterns'].keys():
    <% 
        route = stop['route_patterns'][p]
        route_url = '' if 'route_url' not in route else route['route_url']
        alerts = True if 'alerts' in route and len(route['alerts']) > 0 else False
    %>
    
    <h3 class="tight">
        %if route_url:
            <a href="${route_url}" title="${_(u'Show map and schedules for this route')}.">
        %endif
            ${route['name']}
        %if route_url:
            </a>
        %endif
        
        %if 'arrival_url' in route:
            <a href="${route['arrival_url']}" class="stop-arrivals"><img src="${util.img_url()}/transittracker-icon.png" alt="${_(u'Next arrivals')}" /></a>
        %endif
        
        %if alerts:
            ${util.alerts_inline_icon_link()}
        %endif
    </h3>
    <p>
        %for s in stop['schedule']:
        %if s['p'] == p:
        ${s['t']}
        %endif
        %endfor
    </p>

    %endfor
    %endif


    %if has_alerts:
        ${util.alerts(stop['alerts'])}
    %endif
    


