<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>
<%
    extra_params = util.get_extra_params()
%>

<%def name="title()">TriMet: ${route_stops['name']}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
        <h2>${_(u'Related')}</h2>  
        <ul class="links">
            <li><a href="${util.url_domain()}/transitcenters/index.htm">${_(u'Transit Centers')}</a></li>
            <li><a href="${util.url_domain()}/max/stations/index.htm">${_(u'MAX Light Rail stations')}</a></li>
            <li><a href="${util.url_domain()}/wes/stations.htm">${_(u'WES Commuter Rail stations')}</a></li>
            <li><a href="${util.url_domain()}/parkandride/index.htm">${_(u'Park & Ride lots')}</a> </li>
            <li><a href="${util.url_domain()}/portlandmall/index.htm">${_(u'Portland Transit Mall')}</a></li>
        </ul>
        <p class="feedback"><a href="feedback.html?app=route_stop_list">${_(u'Having problems? Click here for technical support.')}</a></p>
    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>
<h1 class="stopsstations-icon"><a href="stop_select_form.html?list${extra_params}">${_(u'Stops & Stations')}</a></h1>
<h2 class="center">${route_stops['name']}</h2>

<div id="stoplist">
    % for d in route_stops['directions']:
    <form action="stop.html" method="get" class="triptools-form">
        <fieldset>
            ${util.get_extra_params_hidden_inputs()}
            <label for="${d['name']}">${_(u'To')} ${d['name']}</label>
            <select name="stop_id" id="${d['name']}" onfocus="doClassHighlight(this);" onblur="doClassRegular(this);" class="regular">
                % for s in d['stops']:
                <option value="${s['stop_id']}">${s['name']} (#${s['stop_id']})</option>
                % endfor
            </select>
        </fieldset>
        <fieldset>
            <input type="submit" class="submit" value="${_(u'Select stop')}" id="select" />
        </fieldset>
    </form>
    %if not loop.last:
    <div class="or-bar"><img src="${util.img_url()}/or-bar.png" alt="or" /></div>
    %endif
    % endfor
</div>
