<%inherit file="/desktop/base.html"/>
<%namespace name="util"  file="/shared/util.mako"/>
<%namespace name="help" file="/shared/help_utils.mako"/>
<%
    extra_params = util.get_extra_params()
%>

<%def name="title()">TriMet: ${_(u'Uncertain location')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/triptools-ss.css" type="text/css" media="all" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
    <!-- begin #sidebar -->
    <aside id="aside" class="aside">
        <h2>${_(u'Related')}</h2>  
        <ul class="links">
            <li><a href="/transitcenters/index.htm">${_(u'Transit Centers')}</a></li>
            <li><a href="/max/stations/index.htm">${_(u'MAX Light Rail stations')}</a></li>
            <li><a href="/wes/stations.htm">${_(u'WES Commuter Rail stations')}</a></li>
            <li><a href="/parkandride/index.htm">${_(u'Park & Ride lots')}</a></li>
            <li><a href="/portlandmall/index.htm">${_(u'Portland Transit Mall')}</a></li>
        </ul>
    </aside>
    <!-- end #sidebar -->
</%def>

<%def name="stations_selected()">class="selected"</%def>

<h1 class="stopsstations-icon"><a href="stop_select_form.html?geo${extra_params}">${_(u'Stops & Stations')}</a></h1>
<h2 class="error">${_(u'Uncertain location')}: 834 SE LAMBERT</h2>

<div id="location">
    <form action="stop_select_geocode_nearest.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        <!-- Ambiguous address list - choose a specific address leading to nearest stops -->
        <fieldset>
            <label>${_(u'Select a location')}:</label><!-- Scrolling List of Possible Locations -->
            <select size="1"  name="place" id="stop_id" onFocus="doClassHighlight(this);" class="regular" onBlur="doClassRegular(this);" />
                <option value="834 SE LAMBERT CIRCLE::45.5,-122.5::GRESHAM">${util.name_city_str('834 SE LAMBERT CIRCLE', 'GRESHAM')}</option>
                <option value="834 SE LAMBERT ST::45.6,-122.6::PORTLAND">${util.name_city_str('834 SE LAMBERT ST', 'PORTLAND')}</option>
            </select>
        </fieldset>
        <fieldset>
           <!-- Action Button -->
           <input name="select" tabindex="2" type="submit" value="${_(u'Select')}" class="submit" />
        </fieldset>
    </form>
    <div class="or-bar"><img src="${util.img_url()}/or-bar.png" alt="or" /><br />TODO spanish version of "or" </div>
    <form action="stop_select_geocode.html"  method="GET" name="ambig" class="triptools-form">
        ${util.get_extra_params_hidden_inputs()}
        <!-- Text box for re-geocoding a string -->
        <fieldset>
            <label>${_(u'Re-type location')}:</label>
            <input type="text" name="newloc" value="834 SE LAMBERT" size="43" maxlength="80" id="newloc" onFocus="doClassHighlight(this);" class="regular" onBlur="doClassRegular(this);" />
            <div class="form-help">
                ${util.form_help_right()}
            </div>
        </fieldset>
        <fieldset>
            <input name="submit" tabindex="4" type="submit" value="${_(u'Continue')}" class="submit" />
            ${help.geocode_highslide()}
        </fieldset>
    </form>
</div>

