<%inherit file="/desktop/base.html"/>

<%namespace name="util"  file="/shared/util.mako"/>
<%namespace name="rs"   file="/shared/route_select.mako"/>

<%def name="title()">${_(u'TriMet: Stops and Stations')}</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="${util.url_domain()}/css/tripplanform.css" type="text/css" /><!-- for trip planner pages -->
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="Stops, stations"/>
    <meta name="Description" content="Select a bus or MAX line or enter a Stop ID number to get real-time arrival information. TransitTracker monitors the actual location of your bus or train, so you know exactly when your ride is coming."/>
</%def>
<%def name="side_bar()">
            <!-- begin #sidebar -->
            <aside id="aside" class="aside">
                <div id="icon" class="icon-stops">
                    <h2>${_(u'Related')}</h2>  
                    <ul class="links">
                      <li><a href="http://ride.trimet.org?from=7765&date=1/18/13&mapit=I" title="Plan trip on interactive map (fast connection recommended)">Try out the Interactive Map Trip Planner</a> </li>
                      <li><a href="/tripplanner/help.htm" tabindex="17" title="${_(u'TriMet: Trip Planner Help')}" onclick="openPopup(this,'TripPlannerHelp','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=500,left=10,top=10'); return false;" target="TripPlannerHelp" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/tripplanner/help.htm']);">${_(u'Trip Planner tips & help')}</a></li>
                    </ul>
                </div>
                <p class="feedback"><a href="/feedback.html">${_(u'Having problems? Click here for technical support.')}</a></p>
                <h2>${_(u'Before you leave')}, <strong>${_(u'check')} TransitTracker&#8482;</strong> </h2>
                <p>${_(u'Call')} 503-238-RIDE (7433) ${_(u'or visit')} <em><a href='http://trimet.org'>trimet.org</a></em> ${_(u"for up-to-the-minute TransitTracker arrival times for your stop or station")}. ${_(u"Plus, we'll tell you if any detours or delays are in effect")}.</p>
            </aside>
            <!-- end #sidebar -->
</%def>

<%def name="schedule_selected()">class="selected"</%def>

    <p class="mobile"><a href="${util.url_domain()}/mobile/stop/locationID=${id}"><span>${_(u'Mobile')}</span></a><br/></p>
    <div class="tabs">
        <p class="heading">
        %for t in tabs:
          %if 'url' in t:
            <a href="${t['url']}" class="unselected">${t['name']}</a>
          %else:
            <span>${t['name']}</span>
          %endif
        %endfor
        </p>
    </div>
    
    <p>
    <form name="sched" id="sched_id" method="GET" action="sched.pl" class="form-style">
        <input type="hidden" name="lang" value="" />
        <input type="hidden" name="loc1" value="9848" />
        <input type="hidden" name="line" value="100" />
        <input type="hidden" name="x1" value="45.522199" />
        <input type="hidden" name="y1" value="-122.991021" />
        %if more_form:
        ${util.month_select(more_form['month'])}${util.day_select(more_form['day'], more_form['numdays'])}
        <input name="submit" type="submit" value="${_(u'Select')}" tabindex="12" />
         %endif
    </form>
    </p>

    <h2>
        <a href="/stop.html?stopID=7765">${_(u'Stop ID')} 7765</a>
        19-Woodstock/Glisan 
        [<a href="/stop_schedule.html?stopID=&route=">${_(u'all routes')}</a>]
    </h2>
    <p class="stopid">${_(u'Schedule for')} Friday, January 18, 2013</p>
    <p class="stopid">
        <% by_dest = 'sort' in request.params and request.params['sort'] == 'destination' %>
        ${util.link_or_strong(_(u'by destination'), by_dest, '/stop_schedule.html?stopID=&route=&sort=destination', _('sort'))}
        ${util.link_or_strong(_(u'by time'), not by_dest, '/stop_schedule.html?stopID=&route=&sort=time', _('sort'))}
    </p>
    <p>
        <strong>${_(u'Departures from')} <a href="/stop.html?date=1/18/13" title = "${_(u'Click for more information about this stop')}">SW 6th &amp; Jefferson (${_(u'Stop ID')}&nbsp;7765)</a>
        </strong>
    </p>
    <p> <a class="hide" href="/arrivals/tracker.html?locationID=7765&route=19&direction=1"><img src="/images/nextarrivalsicon-16.gif" class="noprint" border="0" height="16" width="16" align="absmiddle" alt="Next arrivals" title="Next arrivals"/></a>
<b><a href="/schedules/r019.htm" title = "Show map and schedules for this route.">19 Downtown Only</a>&nbsp;<a href="#alerts" class="alert"><img border="0" src="/v3/images/tripplanner/alert.png" alt="See footnote" title="See footnote"/></a>
</b><br/> 7:27am
 8:05am
 8:32am
 9:24am
<p> <a class="hide" href="/arrivals/tracker.html?locationID=7765&route=19&direction=1"><img src="/images/nextarrivalsicon-16.gif" class="noprint" border="0" height="16" width="16" align="absmiddle" alt="Next arrivals" title="Next arrivals"/></a>
<b><a href="/schedules/r019.htm" title = "Show map and schedules for this route.">19 Glisan to Gateway TC</a>&nbsp;<a href="#alerts" class="alert"><img border="0" src="/v3/images/tripplanner/alert.png" alt="See footnote" title="See footnote"/></a>
</b><br/>