Misc. strings to be localized...
Useful for when strings come from a non-localized API (ala 'otp' and 'controller')
For example, Stop Amenity names ... and direction names, etc...

STOP DIRECTIONS:
${_(u'Eastbound')}
${_(u'Westbound')}
${_(u'Southbound')}
${_(u'Northbound')}

STOP AMENITIES:
${_(u"Bench near stop")}
${_(u"Bike locker at stop")}
${_(u"Bike parking")}
${_(u"Bike rack at stop")}
${_(u"Bus request signal")}
${_(u"CCTV")}
${_(u"Crosswalk near stop")}
${_(u"Curb ramp near stop")}
${_(u"Elevator")}
${_(u"Garbage Can")}
${_(u"Lighting at stop")}
${_(u"Pavement at back door")}
${_(u"Pavement at front door")}
${_(u"Protection from the weather")}
${_(u"Schedule display")}
${_(u"Shelter")}
${_(u"Sidewalk at stop")}
${_(u"Telephone near stop")}
${_(u"Ticket machine near stop")}
${_(u"Traffic signal")}
${_(u"TransitTracker sign")}
${_(u'Vending Machine')}

${_(u'Elevator')}
${_(u'elevator')}

ERROR MESSAGES
${_(u'Origin is within a trivial distance of the destination.')} 


DIRECTIONS:
${_(u'left')}
${_(u'right')}
${_(u'slightly left')}
${_(u'slightly right')}
${_(u'hard left')}
${_(u'hard right')}
${_(u'continue')}
${_(u'continue to')}
${_(u'becomes')}
${_(u'take roundabout counterclockwise')}
${_(u'take roundabout clockwise')}

${_(u'north')}
${_(u'south')}
${_(u'east')}
${_(u'west')}
${_(u'northeast')}
${_(u'northwest')}
${_(u'southeast')}
${_(u'southwest')}

${_(u'foot')}
${_(u'feet')}
${_(u'mile')}
${_(u'miles')}

GEOCODER LABELS:
${_(u'Route')}
${_(u'Address')}
${_(u'Hotel/Motel')}
${_(u'School')}
${_(u'Zipcode')}
${_(u'Activity Center')}
${_(u'Shopping')}
${_(u'Parks')}
${_(u'TriMet Facility')}

SCHEDULE PAGES:
${_(u'Today')}
${_(u'more')}

MISC:
${_(u'Stop related page')}
${_(u'Link to TriMet')}
${_(u'Check out this page on trimet.org')}


