Misc. strings to be localized...
Useful for when strings come from a non-localized API (ala 'otp' and 'controller')
For example, Stop Amenity names ... and direction names, etc...

STOP AMENITIES:
${_(u'Bench')}
${_(u'Bike Locker')}
${_(u'Bike Rack')}
${_(u'Bike Storage')}
${_(u'Crosswalk')}
${_(u'Curbcut')}
${_(u'Electronic Schedule Display')}
${_(u'Food Vending Machine')}
${_(u'Information Display')}
${_(u'Lighting')}
${_(u'Paved Back Door Landing')}
${_(u'Paved Front Door Landing')}
${_(u'Paved Landing')}
${_(u'Phone')}
${_(u'Printed Schedule Display')}
${_(u'Real Time Arrival Display')}
${_(u'Schedule Display')}
${_(u'Shelter')}
${_(u'Shelter Light')}
${_(u'Sidewalk')}
${_(u'Street Light')}
${_(u'Ticket Vending Machine')}
${_(u'Trash Can')}
${_(u'Vending Machine')}

${_(u'Elevator')}
${_(u'elevator')}

DIRECTIONS:
${_(u'left')}
${_(u'right')}
${_(u'slightly left')}
${_(u'slightly right')}
${_(u'hard left')}
${_(u'hard right')}
${_(u'continue')}
${_(u'continue to')}
${_(u'becomes')}
${_(u'take roundabout counterclockwise')}
${_(u'take roundabout clockwise')}

${_(u'north')}
${_(u'south')}
${_(u'east')}
${_(u'west')}
${_(u'northeast')}
${_(u'northwest')}
${_(u'southeast')}
${_(u'southwest')}

${_(u'foot')}
${_(u'feet')}
${_(u'mile')}
${_(u'miles')}

GEOCODER LABELS:
${_(u'Route')}
${_(u'Address')}
${_(u'Hotel/Motel')}
${_(u'School')}
${_(u'Zipcode')}
${_(u'Activity Center')}
${_(u'Shopping')}
${_(u'Parks')}
${_(u'TriMet Facility')}

SCHEDULE PAGES:
${_(u'Today')}
${_(u'more')}

MISC:
${_(u'Stop related page')}


