## -*- coding: utf-8 -*-
<%namespace name="pform" file="/shared/utils/planner_form.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<!doctype html>
<head>
    <meta charset="utf-8">
    <title>TriMet: Trip Planner Stand Alone Form Example</title>
    <meta name="viewport" content="width=1040" />
    <link rel="stylesheet" href="http://dev.trimet.org/css/global.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://dev.trimet.org/css/triptools-tp.css" type="text/css" media="all"/>
    <script src="http://dev.trimet.org/scripts/basic.js"></script>
    <script>
        function clear_tp_element(id)
        {
            try
            {
                var fm = document.getElementById(id)
                fm.value = ""
            }
            catch(e)
            {
            }
        }
    </script>
</head>
<body class="standard" onLoad="">

<section id="main-fullwidth"  class="main">
${pform.planner_form()}
</section><!-- end #main-fullwidth -->
</body>
</html>

