## -*- coding: utf-8 -*-
<%inherit file="/ws/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_utils.mako"/>
<%namespace name="form"  file="/shared/utils/form_utils.mako"/>
<%namespace name="pform" file="/shared/utils/planner_form_utils.mako"/>
<%
    extra_params = util.get_extra_params()
    type_img_url = pform.from_to_img_url(geo_type)
%>
<%def name="app_css()">
${form.autocomplete_css_includes()}
</%def>
<%def name="js_onload()">javascript:checkgps();</%def>
${form.gps_form_scriptlet(id=geo_type, form='ambig')}

<h2 class="error">
    %if type_img_url:
        <img src="${util.url_domain()}/${type_img_url}" />
    %endif
    ${form.geocoder_msg(geocoder_results, geo_place, geo_type)}
</h2>
${pform.geocode_form(geocoder_results, geo_place, geo_type, is_mobile=True)}
${form.autocomplete_js_includes()}
${form.autocomplete_search_input('#' + geo_type)}
