## -*- coding: utf-8 -*-
<%inherit file="/ws/base.html"/>
<%namespace name="util"  file="/shared/utils/misc_utils.mako"/>
<%namespace name="meta"  file="/shared/utils/meta_utils.mako"/>
<%namespace name="page"  file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib"  file="/shared/utils/planner_utils.mako"/>
<%namespace name="pform" file="/shared/utils/planner_form_utils.mako"/>
<%namespace name="form"  file="/shared/utils/form_utils.mako"/>
<%
    is_mobile = True
    extra_params = util.get_extra_params()
%>

${page.tripplanner_css()}
${form.autocomplete_css_includes()}
${form.autocomplete_js_includes()}
${form.planner_form_js_includes()}

<%def name="js_onload()">javascript:checkgps(); javascript:select_form();</%def>
${pform.gps_form_scriptlet()}
${form.select_form_scriptlet('from')}

${page.main_trip_planner_form(_(u'Trip Planner'), extra_params, 'form')}

##
## main content
##
${pform.planner_form(is_mobile=True)}
${pform.autocomplete_trip_planner()}
${pform.dynamic_forms_js()}
