## -*- coding: utf-8 -*-
<%inherit file="/ws/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="plib" file="/shared/utils/planner_utils.mako"/>
<%
    is_mobile = True
    itinerary = plib.get_itinerary(plan)
    extra_params = util.get_extra_params()
%>
${page.trip_planner(_(u'Your Trip on TriMet'), extra_params, 'planner', True)}

##
## main content
##
${plib.render_trip_details(plan, itinerary, extra_params)}
${plib.render_tabs(plan, extra_params)}
${plib.render_itinerary(itinerary, extra_params, is_mobile)}
${plib.render_fares(itinerary, util.url_domain() + '/fares/index.htm')}
${plib.render_alerts(itinerary)}
${plib.render_console(plan, extra_params)}
${util.cache_geocodes_in_browser(cache)}
