<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://maps5.trimet.org:9000/" />
<title>OTT View - Page Renders</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Call Taker Login</td></tr>
</thead>
<tbody>
<tr>
	<td>open</td>
	<td>feedback.html</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>find_stop_form.html?list</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>find_stop_geocode.html</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>find_stop_list.html?route=100</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>find_stop.html?stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>find_stop.html?more_stops&amp;stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>planner_form.html?from=pdx&amp;to=zoo</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>planner.html</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?stop_id=2&amp;route=78</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?stop_id=2&amp;sort=time</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?stop_id=2&amp;sort=time&amp;more</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop.html?stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
</tbody>
</table>
</body>
</html>
