<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://maps5.trimet.org:9000/" />
<title>OTT View - Page Renders</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Call Taker Login</td></tr>
</thead>
<tbody>
<tr>
	<td>store</td>
	<td>es</td>
	<td>lang</td>
</tr>
<tr>
	<td>store</td>
	<td>2222</td>
	<td>delay</td>
</tr>
<tr>
	<td>open</td>
	<td>stop_select_form.html?_LOCALE_=${lang}&amp;list</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_select_geocode.html?_LOCALE_=${lang}</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_select_list.html?_LOCALE_=${lang}&amp;route=100</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>nearest_service.html?_LOCALE_=${lang}&amp;stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>nearest_service.html?_LOCALE_=${lang}&amp;more_stops&amp;stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>planner_form.html?_LOCALE_=${lang}&amp;from=pdx&amp;to=zoo</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>planner.html?_LOCALE_=${lang}&amp;from=pdx&amp;to=zoo</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?_LOCALE_=${lang}&amp;stop_id=2&amp;route=78</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?_LOCALE_=${lang}&amp;stop_id=2&amp;sort=time</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop_schedule.html?_LOCALE_=${lang}&amp;stop_id=2&amp;sort=time&amp;more</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>stop.html?_LOCALE_=${lang}&amp;stop_id=2</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>${delay}</td>
	<td></td>
</tr>
</tbody>
</table>
</body>
</html>
