## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
##
## BELOW ARE THE ABSTRACT METHODS (to be overridden by sub-classed templates) that populate this base page
##
<%def name="title()">ABSTRACT title()</%def>
<%def name="app_css()"><!-- ABSTRACT app_css() --></%def>
<%def name="meta_data()"><!-- ABSTRACT meta_data() --></%def>
<%def name="header()"><!-- ABSTRACT header() --></%def>
<%def name="js_onload()">/** ABSTRACT js_onload() **/</%def>
<%def name="emergency_content()"><!-- ABSTRACT emergency_content() --></%def>
<%def name="side_bar()"><!-- ABSTRACT side_bar() --></%def>
<%def name="bottom()"><!-- ABSTRACT bottom() --></%def>
<%namespace name="util" file="/shared/utils/misc_util.mako"/>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>${self.title()}</title>
<meta name="viewport" content="width=device-width" />
<link href="${util.url_domain()}/css/mobile.css" rel="stylesheet" type="text/css" />
<link href="${util.url_domain()}/images/favicon.ico" rel="shortcut icon" />
<link href="${util.url_domain()}/images/m/trimet-logo-iphone.png" rel="apple-touch-icon" />
${self.app_css()}
${self.header()}
</head>
<body>
${self.emergency_content()|n,decode.utf8}

<h1><a href="http://trimet.org/m/" class="image"><img src="/images/m/trimet-logo.gif" border="0" align="left" /></a>${self.title()}</h1>
${next.body()}
<div id="bottom-wrap" class="group">
    ${self.bottom()}
</div>
<p class="footer" align="center">
    Feedback: <a href="mailto:transittracker@trimet.org">transittracker@trimet.org</a>
</p>
<p class="footer-links" align="center">
    <a href="/m/index.htm">Mobile site</a> - <a href="/index.htm">Standard site</a><br />
    <a href="/m/terms.htm">Terms of Use</a> - <a href="/m/privacy.htm">Privacy Policy</a> - &copy; ${util.print_year()} TriMet
</p>
</body>
</html>
