## -*- coding: utf-8 -*-
<%inherit file="/mobile/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%
    extra_params = util.get_extra_params()
    feedback_url = 'http://trimet.org/mailforms/tripfeedback'
%>
<%def name="title()">${_(u'Exception')}</%def>
<%def name="meta_data()">${meta.tripplanner()}</%def>

<%def name="planner_selected()">class="selected"</%def>
<%def name="app_css()">${page.tripplanner_css()}</%def>
${page.trip_planner(_(u'Oops!'), extra_params, 'exception')}
${util.error_msg(extra_params, feedback_url)}
<p>&nbsp;</p>