## -*- coding: utf-8 -*-
<%inherit file="/mobile/base.html"/>
<%namespace name="util" file="/shared/utils/misc_utils.mako"/>
<%namespace name="form" file="/shared/utils/form_utils.mako"/>
<%namespace name="side" file="/shared/utils/sidebar_utils.mako"/>
<%namespace name="meta" file="/shared/utils/meta_utils.mako"/>
<%namespace name="page" file="/shared/utils/pagetype_utils.mako"/>
<%namespace name="rs"   file="/shared/utils/route_select_utils.mako"/>
<%
    #TODO - analyt
    ga_select_route ="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Select-a-line submit']);"
    ga_find_stop    ="_gaq.push(['_trackEvent', 'StopsStations', 'Submit', 'MainForm Search submit']);"
    extra_params = util.get_extra_params()
%>
<%def name="title()">TriMet: ${_(u'Stops and Stations')}</%def>
<%def name="meta_data()">${meta.stop()}</%def>
<%def name="side_bar()">${side.tc_pr_lr_wes_mall()}</%def>
<%def name="stations_selected()">class="selected"</%def>
<%def name="app_css()">
    ${page.stop_css()}
    ${form.autocomplete_css_includes()}
</%def>
${page.stop_select(_(u'Stops & Stations'), extra_params, 'me')}

<div id="findstop">
    <form action="stops_near.html" class="triptools-form" method="GET" name="ambig" class="triptools-form">
        ${form.has_geocode_hidden('false')}
        ${form.get_extra_params_hidden_inputs()}
        ${form.search_input(_(u'Find stops and stations'), place)}
        <p id="loc-gps" class="instructions"><a href="#" onclick="getFromGPS();">${_(u'Use my current GPS location')}</a></p>
        ${form.search_submit(_(u'Find stops'))}
    </form>
    <div class="or">
        <div class="or-bar"></div>
        <div class="or-text">${_(u'Or')}</div>
    </div>
    ${rs.route_select_form('stop_select_list.html', routes['routes'], ga_select_route)}
</div>


${form.autocomplete_js_includes()}
${form.autocomplete_search_input()}

