.ui-autocomplete-loading {
    background: white url('busy.gif') right center no-repeat;
}
.ui-autocomplete {
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden; /* prevent horizontal scrollbar */
}
/* IE 6 doesn't support max-height we use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete {
    height: 100px;
}

span.remove {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #0000FF;
    font-size: 60%;
    position: absolute;
    right: 0px;
}
span.remove:hover {
    background: none repeat scroll 0 0 #F8F8F8;
    border-color: #EEEEEE;
}

