@charset "utf-8";


a:link:after,
a:visited:after {
	content: "";
}

#screenreader, #modes, #nav, #nav-wrap, #footer, #footer-wrap, #header, #header-wrap, p.hide, a.hide, span.hide, .hide, #share, #fb-root, #topnav {
	display: none;
}		


body {
	/*
	font: 100%/125% Arial, Helvetica, sans-serif;
	*/
	margin: 0;
	padding: 0;
	width: 100%;
}
#logo-print {
	display: block;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
}
#footer-print {
	display: block;
	font-size: .75em;
	width: 100%;
	border-top: .0625em solid #000000;
	padding: .5em 0 0 0;
}
p.clear {
	float: none;
	clear: both;
}
#content {
	/*
	width: 100%;
	*/
	margin: 0;
	padding: 0;
	text-align: left;
}
	#main {
		/*
		*/
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		clear: both;
	}
	#aside {
		/*
		*/
		display: none;
	}
		.main .box {
			width:70%;
		}




.main .box-rules {
	border: 1px solid #b1aca7;
	height: auto;
	width: 90%;
	overflow: visible;
}



/* --- TRIP PLANNER & ALERTS PAGES BEGIN --- */
.main p.mobile, .main p.help, .main div.tabs p.tab-option, .main .planner-form-bottom, .main .tagline, .main span.maplink {
	display: none;
}

.main .planner-form, .main .alerts-box {
	width: 100%;
	padding: 0;
	margin: 0;
}
	.main .planner-form-top, .main .alerts-box-top {
		width: 100%;
		padding: 0;
		margin: 0;
	}
		.main .planner-icon, .main .alerts-icon {
			padding: 0;
			margin: 0;
		}
			.main .planner-form-top .planner-icon h1, .main .alerts-box-top .alerts-icon h1 {
				padding: 0;
				margin: 0;
				float: none;
				height: auto;
			}
	
	
.main .planner-form-top .planner-header, .main .planner-alerts, .main .alerts-box-top .alerts-header {
	border: none;
	margin: 0;
	padding: 0;
	line-height: 100%;
}
	.main .planner-alerts {
		margin: 15px 0 0 0;
	}
	.main .alerts-box-top .alerts-header p {
		padding: 0;
		margin: 0;
	}

.main div.tabs {
	display: none;
}
	.main div.tabs h2.tab-current {
		border: none;
		margin: 0;
		padding: 15px 0 0 0;
	}
	.main div.planner-header h2 {
		font-weight: bold;
	}
	.main div.planner-alerts h2 a {
		border: none;
		color: #000;
	}

	
.main div#itinerary {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}
	.main div#itinerary table {
		margin: 0 0 15px 0;
		padding: 10px;
		border: 1px solid #000;
		width: 100%;
	}
	.main div#itinerary table tr td a {
		display: none;
	}


.main ol#tripsteps, .main ul#alerts {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #333;
	margin: 0;
	padding: 0;
	width: 100%;
}
	.main ol#tripsteps li, .main ul#alerts li {
		border-top: 1px solid #333;
	}
	.main ol#tripsteps li a {
		border: none;
		color: #000;
	}
	
	.main ul#alerts li p span.alert-icon {
		margin: 0;
		padding: 0;
	}


.main div.disclaimer {
}
	.main div.disclaimer p {
		padding: 0;
		margin: 0;
	}
	.main div.disclaimer p.disclaimer-feedback {
		width: auto;
		float: none;
		border-left: none;
		padding: 0;
		margin: 0 0 1em 0;
	}

/* --- TRIP PLANNER & ALERTS PAGES END --- */










/* --- MODE PAGES BEGIN --- */
#mode-header-map {
	width: 630px;
	height: 282px;
	float: left;
	position: relative;
}
#mode-header-button {
	display: none;
}
#mode-header-image {
	width:290px;
	height:282px;
	float: left;
	border-left: 1px solid #000;
}
#mode-header-image p {
	margin: 15px;
	font: 100%/110% Arial, Helvetica, sans-serif;
}
div.max-railline {
	float: left;
	width: 34%;
}
/* --- MODE PAGES END --- */



/* --- WORDPRESS PAGES BEGIN --- */
.hfeed h2 {
	font-size: 16pt;
}
.hfeed p {
	font-size: 12pt;
}
/* --- WORDPRESS PAGES END --- */

