@charset "utf-8";
@import url("/css/triptools-general.css");		/* load general trip tools css */






/********************************* trip planner form and itinerary css ***********************************/










#main {
	/*
	background: url(/images/triptools/grid.png) 0 0 repeat-y;
	*/
}



/* ------- from Frank's css ------- */
div.description {
    display: none;
}

div.expanded div.description {
    display: block;
}
/* ------- end Frank's css ------- */



/************************* TRIP PLANNER FORM PAGE *****************************/


/* ------- plantrip form begin ------- */
#plantrip {		/* total width = 58.75em */
	color: #666;
}
	#plantrip-left {
		width: 36.5em;
		float: left;
	}
	#plantrip-right {
		width: 19.1875em;
		float: left;
		border-left: .0625em solid #cccccc;
		padding-left: 3em;
	}

#plantrip form fieldset {
	clear: both;
	border: 0;
	padding: 0 0 1.25em 0;
	margin: 0;
}
	#plantrip form fieldset label {
		width: 10em;
		display: block;
		float: none;
		font-size: 1.125em;
		color: #999;
	}
		#plantrip form label.hide {
			display: none;
		}
#plantrip form input, #plantrip form select {
	font-size: 1.25em;
	border: .05em solid #aaa;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	margin-right: .5em;
}
	#plantrip form input {
		padding: .25em;
	}
	#plantrip form select {
		padding: .2em;
	}

	#plantrip form input#from, #plantrip form input#going {
		width: 25em;
		float: left;
	}
	#plantrip form fieldset.preferences select {
		width: 13em;
		float: left;
	}
	#plantrip form fieldset.departwhen {
		padding-bottom: 0;
		margin-bottom: .5em;
	}
	
			
	#plantrip form select#depart {
		width: 11em;
	}
	#plantrip form select#Hour {
		width: 3.5em;
		margin-right: 0;
	}
	#plantrip form select#Minute {
		width: 3.5em;
		margin-right: .125em;
	}
	#plantrip form select#AmPm {
		width: 3.75em;
		margin-right: .5em;
	}
	
	#plantrip form select#Month {
		width: 5.5em;
		margin: 0 .25em 0 .5em;
	}
	#plantrip form select#Day {
		width: 3.5em;
	}
			/* for combo selectors - not currently using */
			#plantrip form input#time {
				width: 4.5em;
				padding-left: 1.5em;
				background: url("/images/tripplanner/plantrip-when-icons.png") 0 0 no-repeat #ffffff;
				background-size: 1.6em 4.8em;
			}
			#plantrip form input#date {
				width: 4em;
				padding-left: 1.7em;
				background: url("/images/tripplanner/plantrip-when-icons.png") 0 -2.4em no-repeat #ffffff;
				background-size: 1.6em 4.8em;
			}

	#plantrip form input#submit {
		padding: .25em 1.25em .25em 1.25em;
		border: .05em solid #2e2d2a;
		background-color: #6db33f;
		cursor: pointer;
		color: #fff;
		float: left;
		font-weight: bold;
		margin-top: .75em;
		margin-bottom: 1em;
	}
		#plantrip form input#submit:hover {
			color: #333;
			background-color: #ebaf11;
		}


	/* checkbox formatting */
	#plantrip form #mapcheckbox {
		float: left;
		margin: 1.35em .5em 0 .5em;
		border: none;
	}
	#plantrip form .mapcheckbox-label {
		float: left;
		cursor: pointer;
		padding: 1.125em .25em .25em 0;
	}

	#plantrip-right .trip-help {
		position: absolute;
		bottom: 1.25em;
		right: 1.25em;
	}
/* ------- plantrip form end ------- */



/* ------- promo-bar begin ------- */
#imap {
	width: 61.25em;
	height: 4em;
	background: url("/images/triptools/imap-bg.jpg") 0 0 no-repeat;
	margin: 2em 0 0 0;
	text-align: center;
}
	#imap h3 {
		font-size: 1em;
		margin: 1em auto 0;
		font-weight: normal;
		width: 38em;
	}
	#imap h3 a {
		-moz-border-radius: .3em;
		-webkit-border-radius: .3em;
		border-radius: .3em;
		border: .0625em solid #2e2d2a;
		padding: .25em 0 .1875em 0;
		color: #666666;
		background-color: #fff;
		display: block;
	}
		#imap h3 a:hover {
			color: #333;
			background-color: #ebaf11;
		}
/* ------- promo-bar end ------- */










/************************* TRIP PLANNER ITINERARY PAGE *****************************/


/* ------- details begin (box above itinerary) ------- */
#details {
	padding: 0 0 2.125em 0;	/* 34px */
	position: relative;
}
	#details p.note {
		font-size: .8125em;
		color: #ffffcc;
	}
	#details p.origin, #details p.destination {
		margin: 0 0 .75em 0;
		padding: 0 0 0 1.5em;
		position: relative;
	}
		#details p.origin img {
			position: absolute;
			top: 0;
			left: 0;
			width: 2em;
			height: 8em;
			clip: rect(0 1.25em 1.25em 0);
			
		}
		#details p.destination img {
			position: absolute;
			top: -2em;
			left: 0;
			width: 2em;
			height: 8em;
			clip: rect(2em 1.25em 3.25em 0);
		}
	#details p.tripinfo {
		font-size: .8125em;		/* 13px */
		line-height: .8125em;		/* 13px */
		margin: 1.538461538461538em 0 -.5384615384615385em 0;	/* 19px 0 -7px 0 */
		color: #666666;
	}
/* ------- details end ------- */



/* ------- tabs begin ------- */
.main ol#plannertabs {
	padding: 0;
	margin: .75em 0 0 0;	/* 12px 0 0 0 */
	/*height: 4.625em;		 74px (not counting border) */
	list-style: none;
	width: 45em;
	/*
	border-bottom: .125em solid #777777;
	*/
	clear: both;
}
	.main .plannertabs-underline {
		height: .125em;
		background-color: #777777;
		margin-top: -.0625em;
		clear: both;
	}
	.main ol#plannertabs li {
		float: left;
		line-height: 1em;
		width: 13.75em;
		margin: 0 1.25em 0 0;
		padding: 0;
	}
		
		/* active tab */
		.main ol#plannertabs li.selected {
			background-color: #6cb33d;
			color: #ffffff;
			-moz-border-radius: .25em .25em 0 0;
			-webkit-border-radius: .25em .25em 0 0;
			border-radius: .25em .25em 0 0;
		}
			.main ol#plannertabs li.selected span {
				display: block;
				padding: .3125em 0 .9375em .8125em;	/* 5px 0 15px 13px */
			}
				.main ol#plannertabs li.selected b {
					font-family: 'PT Sans',"Trebuchet MS",Arial,Helvetica,sans-serif;
					font-size: 1.5em;	/* 24px */
					line-height: 1.583333333333333em;	/* 37px */
					font-weight: normal;
				}
			
		/* inactive tab */
		.main ol#plannertabs li a {
			display: block;
			background-color: #cacaca;
			font-size: .75em;	/* 12px */
			padding: 1.25em 1em 1.166666666666667em 1em;	/* 15px 12px 14px 12px */
			margin: 1em 0 0 0;	/* 12px */
			color: #2e2d2a;
			-moz-border-radius: .3333em .3333em 0 0;
			-webkit-border-radius: .3333em .3333em 0 0;
			border-radius: .3333em .3333em 0 0;
			border: none;
		}
			.main ol#plannertabs li a b {
				font-size: 1.25em;	/* 20px */
				font-weight: bold;
			}
			.main ol#plannertabs li a:hover {
				background-color: #accc96;
				background-color: #ffffcc;
				color: #084c8d;
			}
/* ------- tabs end ------- */



/* ------- itinerary begin ------- */

	/* ------- general itinerary formatting items ------- */
	ol#itinerary:before, ol#itinerary:after { content:""; display:table; }
	ol#itinerary:after { clear:both; }
	ol#itinerary { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }
	
	/* need to account for all modes */
	ol.transit a, ol.walk a, ol.bike a {
		color: #2e2d2a;
		border-color: #cccccc;
	}
		ol.transit a:hover, ol.walk a:hover, ol.bike a:hover {
			color: #084c8d;
			border-color: #084c8d;
		}
	ol.transit p, ol.walk p, ol.bike p {
		margin: 0;
		padding: 0;
	}
	

/* transit itinerary formatting */
.main ol.transit {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
	clear: both;
}
	.main ol.transit > li {
		margin: 0;
		/*
		padding: .75em 0 .75em 2.125em;
		min-height: 40px;
		*/
		border-bottom: .0625em solid #dddddd;
		position: relative;
		
		padding: .9375em 0 .75em 2.125em;	/* 15px 0 12px 34px */
	}
	.main ol.transit li p {
		margin: -.25em 0 0 0;
		padding: 0;
	}
ol.transit a.step-time {
	font-weight: bold;
	margin-right: .5em;
	
	/* es */
	margin-right: 0;
	width: 4.25em;
	display: inline-block;
	border: none;
}
	ol.transit a.step-time span {
		border-bottom: .0625em dotted #ccc;
	}
		ol.transit a.step-time:hover span {
			border-color: #084c8d;
		}


ol.transit li.start p, ol.transit li.end p {
	font-weight: bold;
}

ol.transit .stopid {
	font-size: .625em;
	line-height: .625em;	/* 10px */
	color: #999999;
}

/* itinerary numbers */
ol.transit .step-number img {
	margin: .6em 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 20em;	/* width of entire image */
	height: 10em;	/* height of entire image */
	/* in the html, in the img tag, width and height are set to zero so they will not display if stylesheets are turned off */
}
	ol.transit li.start .step-number img {
		clip: rect(0 2em 2em 0);
	}
	ol.transit li.end .step-number img {
		clip: rect(0 4em 2em 2em);
		left: -2em;
	}
	ol.transit li.num1 .step-number img {
		clip: rect(0 6em 2em 4em);
		left: -4em;
	}
	ol.transit li.num2 .step-number img {
		clip: rect(0 8em 2em 6em);
		left: -6em;
	}
	ol.transit li.num3 .step-number img {
		clip: rect(0 10em 2em 8em);
		left: -8em;
	}
	ol.transit li.num4 .step-number img {
		clip: rect(0 12em 2em 10em);
		left: -10em;
	}
	ol.transit li.num5 .step-number img {
		clip: rect(0 14em 2em 12em);
		left: -12em;
	}
	ol.transit li.num6 .step-number img {
		clip: rect(0 16em 2em 14em);
		left: -14em;
	}
	ol.transit li.num7 .step-number img {
		clip: rect(0 18em 2em 16em);
		left: -16em;
	}
	ol.transit li.num8 .step-number img {
		clip: rect(0 20em 2em 18em);
		left: -18em;
	}
	
	ol.transit li.num9 .step-number img {
		clip: rect(2em 2em 4em 0);
		top: -2em;
		left: 0;
	}
	ol.transit li.num10 .step-number img {
		clip: rect(2em 4em 4em 2em);
		top: -2em;
		left: -2em;
	}
	ol.transit li.num11 .step-number img {
		clip: rect(2em 6em 4em 4em);
		top: -2em;
		left: -4em;
	}
	ol.transit li.num12 .step-number img {
		clip: rect(2em 8em 4em 6em);
		top: -2em;
		left: -6em;
	}
	ol.transit li.num13 .step-number img {
		clip: rect(2em 10em 4em 8em);
		top: -2em;
		left: -8em;
	}
	ol.transit li.num14 .step-number img {
		clip: rect(2em 12em 4em 10em);
		top: -2em;
		left: -10em;
	}
	ol.transit li.num15 .step-number img {
		clip: rect(2em 14em 4em 12em);
		top: -2em;
		left: -12em;
	}
	ol.transit li.num16 .step-number img {
		clip: rect(2em 16em 4em 14em);
		top: -2em;
		left: -14em;
	}
	ol.transit li.num17 .step-number img {
		clip: rect(2em 18em 4em 16em);
		top: -2em;
		left: -16em;
	}
	ol.transit li.num18 .step-number img {
		clip: rect(2em 20em 4em 18em);
		top: -2em;
		left: -18em;
	}
	
	ol.transit li.num19 .step-number img {
		clip: rect(4em 2em 6em 0);
		top: -4em;
		left: 0;
	}
	ol.transit li.num20 .step-number img {
		clip: rect(4em 4em 6em 2em);
		top: -4em;
		left: -2em;
	}
	ol.transit li.num21 .step-number img {
		clip: rect(4em 6em 6em 4em);
		top: -4em;
		left: -4em;
	}
	ol.transit li.num22 .step-number img {
		clip: rect(4em 8em 6em 6em);
		top: -4em;
		left: -6em;
	}
	ol.transit li.num23 .step-number img {
		clip: rect(4em 10em 6em 8em);
		top: -4em;
		left: -8em;
	}
	ol.transit li.num24 .step-number img {
		clip: rect(4em 12em 6em 10em);
		top: -4em;
		left: -10em;
	}
	ol.transit li.num25 .step-number img {
		clip: rect(4em 14em 6em 12em);
		top: -4em;
		left: -12em;
	}
	ol.transit li.num26 .step-number img {
		clip: rect(4em 16em 6em 14em);
		top: -4em;
		left: -14em;
	}
	ol.transit li.num27 .step-number img {
		clip: rect(4em 18em 6em 16em);
		top: -4em;
		left: -16em;
	}
	ol.transit li.num28 .step-number img {
		clip: rect(4em 20em 6em 18em);
		top: -4em;
		left: -18em;
	}




/* put icon and background color on bus/max/wes/etc links */
ol.transit a.step-mode {
	margin-left: .125em;
	padding: .125em .5em .125em 1.5em;
	border: .0625em solid #d2d2d2;
	-moz-border-radius: .125em;
	-webkit-border-radius: .125em;
	border-radius: .125em;
	position: relative;
	background-color: #f4f4f4;
}
	ol.transit a.step-mode:hover {
		background-color: #ffffcc;
	}
	ol.transit img.step-bus-icon, ol.transit img.step-max-icon, ol.transit img.step-wes-icon, ol.transit img.step-streetcar-icon, ol.transit img.step-aerialtram-icon,
	ol.transit img.step-car-icon, ol.transit img.step-bike-icon, ol.transit img.step-walk-icon {
		position: absolute;
		top: .125em;
		left: 0;
		width: 2em;
		height: 20em;
	}
		ol.transit img.step-bus-icon {
			clip: rect(0 2em 2em 0);
		}
		ol.transit img.step-max-icon {
			clip: rect(2em 2em 4em 0);
			top: -2em;
		}
		ol.transit img.step-wes-icon {
			clip: rect(4em 2em 6em 0);
			top: -4em;
		}
		ol.transit img.step-streetcar-icon {
			clip: rect(6em 2em 8em 0);
			top: -6em;
		}
		ol.transit img.step-aerialtram-icon {
			clip: rect(8em 2em 10em 0);
			top: -8em;
		}
		ol.transit img.step-car-icon {
			clip: rect(10em 2em 12em 0);
			top: -10em;
		}
		ol.transit img.step-bike-icon {
			clip: rect(12em 2em 14em 0);
			top: -12em;
		}
		ol.transit img.step-walk-icon {
			clip: rect(14em 2em 16em 0);
			top: -14em;
		}



/* alert icon */
.main ol.transit a.step-alert {
	border: none;
}
	
	
/* expand/contract walking directions */
.main ol.transit a.open, .main ol.transit a.close {		/* set positioning and show gray '+' icon */
	background: url("/images/triptools/expand.png") right 0 no-repeat;
	background-size: 1em 12em;
	position: absolute;
	top: 0;
	right: 0;
	width: 4.5em;
	height: 3em;
	border: none;
}
	.main ol.transit a.open span.open-text, .main ol.transit a.open span.close-text,
	.main ol.transit a.close span.open-text, .main ol.transit a.close span.close-text	/* set styles and hide helper text */
	{
		position: absolute;
		top: 1.1em;			/* 11px */
		right: 1.8em;		/* 18px */
		font-size: .625em;	/* 10px */
		text-transform: uppercase;
		color: #084c8d;
		
		display: none;
	}
	
	.main ol.transit a.open:hover {		/* show blue + icon on hover */
		background-position: right -3em;
	}
		.main ol.transit a.open:hover span.open-text {	/* show 'expand' text on hover */
			display: block;
		}
	
	.main ol.transit a.close {	/* show gray 'X' icon */
		background-position: right -6em;
	}
		.main ol.transit a.close:hover {	/* show blue 'X' icon on hover */
			background-position: right -9em;
		}
		.main ol.transit a.close:hover span.close-text {	/* show 'close' text on hover */
			display: block;
		}


/* walking directions */
.main ol.transit .description:before, .main ol.transit .description:after { content:""; display:table; }
.main ol.transit .description:after { clear:both; }
.main ol.transit .description {
	zoom: 1;/* For IE 6/7 (trigger hasLayout) */
	margin-top: 1.8125em;	/* 29px */ 
}
	.main ol.transit .maps {
		clear: both;
	}
	.main ol.transit p.walk-start, .main ol.transit p.walk-end {
		float: left;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
		.main ol.transit p.walk-start, .main ol.transit p.walk-end {
		}
			.main ol.transit p.walk-start {
				margin-right: 3em;
			}
			.main ol.transit p.walk-start img, .main ol.transit p.walk-end img {
				margin: 1.375em 0 .125em 0;	/* 22px 0 2px 0 */
			}
	
	.main ol.transit ol {
		width: 27.375em;
		margin: 0 1.25em 11px 1.375em;
	}
		.main ol.transit ol li {
			margin: 0;
			padding: 0;
			font-size: .8125em;		/* 13px */
			line-height: 1.846153846153846em;	/* 24px */
		}

	.main ol.transit p.elevation {
		float: right;
		width: 13em;	/* 13.75 */
		padding: 0 0 .25em .6875em;
		border-left: .0625em solid #cccccc;
	}
		.main ol.transit p.elevation span {
			display: block;
			font-size: .8125em;	/* 13px */
			line-height: 1.846153846153846em;	/* 24px */
		}
			.main ol.transit p.elevation span a {
				font-size: .75em;	/* 12px */
				color: #084c8d;
			}
		
		

/* walking/biking itinerary formatting */
ol.bike {
	clear: both;
	margin: 0 0 0 2em;
	padding: 0;
}
	ol.bike > li {
		margin: 0;
		padding: .5em 0 .5em 0em;
		border-bottom: .0625em solid #cccccc;
	}
	ol.bike .step-number {
		display: none;
	}
	ol.bike p {
	}
/* ------- itinerary end ------- */


.main p.fare {
	text-align: center;
	font-size: .75em;	/* 12px */
	margin: -0.0833333333333333em 0 2.083333333333333em 0;	/* -1px 0 25px 0 */
}




/* ------- console begin ------- */
#console {
	background-color: #cacaca;
	border-top: .125em solid #777777;
	-moz-border-radius: 0 0 .375em .375em;
	-webkit-border-radius: 0 0 .375em .375em;
	border-radius: 0 0 .375em .375em;
	padding: .75em 1.25em .75em 1.25em;
	margin: 0 0 0 -1.25em;
	width: 43.75em;
}
	#console p.console-left {
		float: left;
		padding: 0;
		margin: 0;
	}
	#console p.console-right {
		float: right;
		padding: 0;
		margin: 0;
	}
	
	#console a.console-emailtext, #console a.console-print, #console a.console-mobile {
			background: url("/images/triptools/console-icons.png") 0 0 no-repeat;
			background-size: 2em 20em;
			padding: 0em 1em .125em 1.5em;
			margin-right: 1em;
			display: inline-block;
			border: none;
	}
		#console a.console-emailtext:hover span, #console a.console-print:hover span, #console a.console-mobile:hover span {
			border-bottom: .078125em dotted #084c8d;
		}
		#console a.console-emailtext {
		}
		#console a.console-print {
			background-position: 0 -4em;
		}
		#console a.console-mobile {
			background-position: 0 -8em;
		}
	
	#console a.console-emailtext span, #console a.console-print span, #console a.console-mobile span, #console a.console-returntrip, #console a.console-edit {
		font-size: .8125em;
	}
	
	#console a.console-returntrip, #console a.console-edit {
		-moz-border-radius: .25em;
		-webkit-border-radius: .25em;
		border-radius: .25em;
		background-color: #0069aa;
		border: .0625em solid #2e2d2a;
		color: #ffffff;
		width: 9em;
		text-align: center;
		padding: 0 0 .125em 0;
		margin-left: 1em;
		display: inline-block;
	}
		#console a.console-returntrip:hover, #console a.console-edit:hover {
			background-color: #1c4e6f;
		}
/* ------- console end ------- */



#alerts {
	margin-top: 0;
}











/*************************************** sidebar begin *************************************/

#aside {
	margin-top: 2.5em;
}

/* ------- sidebar icons begin ------- */
.aside #sidebar-icons p {	/*************** 12px reference at this point *****************/
	padding: 0 0 1em 0;		/* 12px */
	margin: 0;
}
.aside #sidebar-icons p a {
	display: block;
	background: url("/images/triptools/sidebar-icons.png") 0 0 no-repeat;
	background-size: 2.666666666666667em 26.66666666666667em;	/* 32px 320px */
	border: none;
	padding: 0 0 0 2em;	/* 0 0 0 24px */
}
	.aside #sidebar-icons p a:hover {
		border: none;
	}
	.aside #sidebar-icons p.showonmap a {
		background-position: 0 -5.333333333333333em;	/* 64px */
	}
	.aside #sidebar-icons p.feedbackreport a {
		background-position: 0 -10.66666666666667em;	/* 128px */
	}
	
	.aside #sidebar-icons a span {
		/*font-size: .75em;	*/		/* 12px */
		/*line-height: 1.5em;*/		/* 18px */
	}
		.aside #sidebar-icons a:hover span {
			color: #084c8d;
			border-bottom: .0833333333333333em dotted #084c8d;	/* 1px */
		}
/* ------- sidebar icons end ------- */







/********* bottom begin **********/


/* ------- disclaimer begin ------- */
#disclaimer {
	margin-top: 1.0625em;
	width: 46.25em;
	float: left;
	clear: both;
}
	#disclaimer p {
		font-size: .625em;	/* 10px */
		color: #666666;
		line-height: 1.2em;	/* 12px */
	}
/* ------- disclaimer end ------- */







